<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>费用折现图</title>
<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<style type="text/css">
.blankDiv {
	margin-right: 20px;
	display: inline;
}
.echarsMainDiv {
	margin: 40px auto;
}
</style>
</head>
<body ng-app="lineApp" ng-controller="lineCtrl" style="margin-right: 10px;">
	<div class="form-inline" align="right">
		<label for="org" ng-show="operatorLevel == 3">单位名称:</label> 
		<div class="form-group" style="min-width:100px;" ng-show="operatorLevel == 3">
			<div align="left" ng-dropdown-multiselect="" id="org" options="orgs" selected-model="selectedOrg" extra-settings="orgsSettings" translation-texts="orgTexts"></div>
		</div>
		<div class="blankDiv"></div>
		<label for="startDate">分析周期:</label>
		<div class="form-group">
			<input id="startDate" type="text" class="input-text Wdate" ng-model="startDate" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd', isShowClear:false, readOnly:true, maxDate:'#F{$dp.$D(\'endDate\')}'})" onchange="">
		</div>
		<label for="endDate"> - </label>
		<div class="form-group">
			<input id="endDate" type="text"	class="input-text Wdate" ng-model="endDate" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd', isShowClear:false, readOnly:true, minDate:'#F{$dp.$D(\'startDate\')}'})" onchange="">
		</div>
		<div class="blankDiv"></div>
		<button id="searchBtn" type="button" class="btn btn-primary" ng-click="analysis()"><i class="Hui-iconfont">&#xe709;</i> 分析</button>
		<button id="resetBtn" type="button" class="btn btn-primary" ng-click="reset()"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
	</div>
	<div id="line_main" class="echarsMainDiv" style="height: 400px;">
		<feeline id="lineMain" xdata="xdata" sdata="sdata" legend="legend"></feeline>
	</div>
	<script type="text/javascript" src="../resources/analysis/controller/common.js"></script>
	<script type="text/javascript" src="../resources/analysis/controller/feeLine.js"></script>
</body>
</html>
