    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="configManage">
    <meta name="referrer" content="no-referrer">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>定时任务配置</title>
    <script src="../skeleton/includeJs_3rd.js"></script>
    <script src="../skeleton/includeCss_3rd.js"></script>
    <style type="text/css">
        .blankDiv {
            margin-right: 20px;
            display: inline;
        }

        .modal-dialog {
            width: 700px;
        }

        .bgImage {
            background: #fff url(../skeleton/lib/My97DatePicker/skin/datePicker.gif) no-repeat right;
        }
    </style>
</head>
<body ng-controller="configController as configCtrl" style="padding-right: 10px;" ng-cloak>
<div style="margin-top: 20px;">
    <table ng-table="configCtrl.tableParams" class="table-condensed table-border table-hover"
           style="margin-bottom: 10px;">
        <tr ng-repeat="config in $data" ng-model="configInfos" ng-click="selectConfig(config)">
            <td>
                <input type="checkbox" id="{{config.schedulerCfgId}}" ng-checked="isSelected(config)">
            </td>
            <td data-title="'调度器配置ID'" sortable="'schedulerCfgId'">{{config.schedulerCfgId}}</td>
            <!--<td data-title="'调度器配置ID'" sortable="'schedulerCfgId'">{{config.schedulerCfgId}}</td>-->
            <td data-title="'调度器用途'" sortable="'schedulerType'" ng-bind="getSchedulerTypeNames(config.schedulerType)"/>
            <td data-title="'话单类型'" sortable="'cdrType'" ng-bind="getCdrTypeNames(config.cdrType)"/>
            <td data-title="'启动时间'" sortable="'startTime'">{{config.startTime}}</td>
            <td data-title="'周期类型'" sortable="'syncCycle'" ng-bind="getSyncCycleNames(config.syncCycle)"/>
            <td data-title="'周期值'" sortable="'cycleValue'">{{config.cycleValue}}</td>
            <td data-title="'状态'" sortable="'status'" ng-bind="getStatusNames(config.status)"/>
            <td data-title="'操作员工号'" sortable="'operatorId'">{{config.operatorId}}</td>
            <td data-title="'创建时间'" sortable="'createTime'" ng-bind="formatDateTime(config.createTime)"/>
        </tr>
    </table>
</div>
<div class="f-l">
    <input type="text" class="input-text" id="pageBinding"
           style="width: 35px; height: 32px; text-align: center; border-radius: 5px;" ng-model="configCtrl.curPage"/>
    <button class="btn btn-primary" ng-click="configCtrl.changePage(configCtrl.curPage)"><i class="icon Hui-iconfont">&#xe6ab;</i>&nbsp;跳转
    </button>
</div>
<div class="f-r">
    <button class="btn btn-primary" ng-click="openModel('add')"><i class="Hui-iconfont">&#xe604;</i> 添加</button>
    <button class="btn btn-primary" ng-click="openModel('modify')"><i class="Hui-iconfont">&#xe60c;</i> 修改</button>
    <button class="btn btn-primary" data-toggle="modal" ng-click="configDelete()"><i class="Hui-iconfont">&#xe60b;</i>删除</button>
</div>

<!--模态增加窗口-->
<script type="text/ng-template" id="add.html">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" align="center">添加定时任务</h4>
        </div>
        <form class="form-horizontal" name="addConfig" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="schedulerType" class="col-sm-2 control-label">调度器用途：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.schedulerType" id="schedulerType" class="form-control"
                                ng-change="setCdrType(configInfoInsert.schedulerType)"
                                ng-options="x.entryId as x.entryName for x  in schedulerTypeDict"
                                ng-init="configInfoInsert.schedulerType=schedulerTypeDict[0].entryId">
                        </select>
                    </div>
                    <label for="cdrType" class="col-sm-2 control-label">话单类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.cdrType" id="cdrType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in cdrTypeDict' disabled="disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startTime" class="col-sm-2 control-label">启动时间：</label>
                    <div class="col-sm-4">
                        <input id="startTime" type="text" class="form-control bgImage"
                               ng-model="configInfoInsert.startTime"
                               onclick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm', isShowClear:false})"
                               onchange="">
                    </div>
                    <label for="status" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.status" id="status" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in statusDict'
                                ng-init="configInfoInsert.status=statusDict[0].entryId">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="syncCycle" class="col-sm-2 control-label">周期类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.syncCycle" id="syncCycle" class="form-control"
                                ng-change="setSycleInsert(configInfoInsert.syncCycle)"
                                ng-options='x.entryId as x.entryName for x  in syncCycleDict'
                                ng-init="configInfoInsert.syncCycle=syncCycleDict[0].entryId">
                        </select>
                    </div>
                    <label for="cycleValue" class="col-sm-2 control-label">周期值：</label>
                    <div class="col-sm-4" id="cycleValueDiv">
                        <input type="text" id="cycleValue" class="form-control" ng-model="configInfoInsert.cycleValue"
                               placeholder="30-每30分执行一次"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="add()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
                <button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
            </div>
        </form>
    </div>
</script>
<!-- 模态编辑窗口 -->
<script type="text/ng-template" id="modify.html">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" align="center">修改定时任务</h4>
        </div>
        <form class="form-horizontal" name="addConfig" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="schedulerType" class="col-sm-2 control-label">调度器用途：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.schedulerType" id="schedulerType" class="form-control"
                                ng-change="updateCdrType(configInfo.schedulerType)"
                                ng-options='x.entryId as x.entryName for x  in schedulerTypeDict'>
                        </select>
                    </div>
                    <label for="cdrType" class="col-sm-2 control-label">话单类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.cdrType" id="cdrType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in cdrTypeDict'>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startTime" class="col-sm-2 control-label">启动时间：</label>
                    <div class="col-sm-4">
                        <input id="startTime" type="text" class="form-control bgImage" ng-model="configInfo.startTime"
                               onclick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm',isShowClear:false})"
                               onchange="">
                    </div>
                    <label for="status" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.status" id="status" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in statusDict'>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="syncCycle" class="col-sm-2 control-label">周期类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.syncCycle" id="syncCycle" class="form-control"
                                ng-change="setSycleUpdate(configInfo.syncCycle,2)"
                                ng-options='x.entryId as x.entryName for x  in syncCycleDict'>
                        </select>
                    </div>
                    <label for="cycleValue" class="col-sm-2 control-label">周期值：</label>
                    <div class="col-sm-4" id="cycleValueDiv">
                        <input type="text" id="cycleValue" class="form-control" ng-model="configInfo.cycleValue">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="update()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
                <button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript" src="../resources/config/controller/timingExportConfig.js"></script>
</body>
</html>