<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="configManage">
<meta name="referrer" content="no-referrer">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>服务器配置</title>
    <script src="../skeleton/includeJs_3rd.js"></script>
    <script src="../skeleton/includeCss_3rd.js"></script>
    <style type="text/css">
        .blankDiv {
            margin-right: 20px;
            display: inline;
        }

        .modal-dialog {
            width: 700px;
        }
    </style>
</head>
<body ng-controller="configController as tecController" style="padding-right: 10px;" ng-cloak>

<div style="margin-top: 20px;">
    <table ng-table="tecController.tableParams" class="table-condensed table-border table-hover"
           style="margin-bottom: 10px;">
        <tr ng-repeat="config in $data" ng-model="configInfos" ng-click="selectConfig(config)">
            <td>
                <input type="checkbox" id="{{config.serverId}}" ng-checked="isSelected(config)">
            </td>
            <td data-title="'服务器ID'" sortable="'serverId'"> {{config.serverId}}</td>
            <td data-title="'服务器类型'" sortable="'serverType'" ng-bind="getServerTypeNames(config.serverType)"/>
            <td data-title="'主机名'" sortable="'hostName'">{{config.hostName}}</td>
            <td data-title="'用户名'" sortable="'userName'">{{config.userName}}</td>
            <td data-title="'密码'" sortable="'password'">{{config.password}}</td>
            <td data-title="'状态'" sortable="'status'" ng-bind="getStatusNames(config.status)"/>
            <td data-title="'源路径'" sortable="'srcPath'">
                <span title="{{config.srcPath}}" ng-bind="parseRoleDesc(config.srcPath)"/>
            </td>
            <td data-title="'目标路径'" sortable="'destPath'">
                <span title="{{config.destPath}}" ng-bind="parseRoleDesc(config.destPath)"/>
            </td>
            <td data-title="'备份路径'" sortable="'backupPath'">
                <span title="{{config.backupPath}}" ng-bind="parseRoleDesc(config.backupPath)"/>
            </td>
            <td data-title="'传输模式'" sortable="'transferMode'" ng-bind="getTransferModeNames(config.transferMode)"/>
            <td data-title="'传输协议'" sortable="'transProtocol'" ng-bind="getTransProtocolNames(config.transProtocol)"/>
            <td data-title="'文件类型'" sortable="'fileType'" ng-bind="getFileTypeNames(config.fileType)"/>
        </tr>
    </table>
</div>
<div class="f-l">
    <input type="text" class="input-text" id="pageBinding"
           style="width: 35px; height: 32px; text-align: center; border-radius: 5px;" ng-model="configCtrl.curPage"/>
    <button class="btn btn-primary" ng-click="configCtrl.changePage(configCtrl.curPage)"><i class="icon Hui-iconfont">&#xe6ab;</i>&nbsp;跳转
    </button>
</div>
<div class="f-r">
    <button class="btn btn-primary" ng-click="openModel('add')"><i class="Hui-iconfont">&#xe604;</i> 添加</button>
    <button class="btn btn-primary" ng-click="openModel('modify')"><i class="Hui-iconfont">&#xe60c;</i> 修改</button>
    <button class="btn btn-primary" data-toggle="modal" ng-click="configDelete()"><i class="Hui-iconfont">&#xe60b;</i>
        删除
    </button>
</div>

<!-- 模态编辑窗口 -->
<script type="text/ng-template" id="add.html">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" align="center">添加服务器上次配置</h4>
        </div>
        <form class="form-horizontal" name="addConfig" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="hostName" class="col-sm-2 control-label">主机名：</label>
                    <div class="col-sm-4">
                        <input type="text" id="hostName" class="form-control" ng-model="configInfoInsert.hostName"
                               placeholder="必填">
                    </div>
                    <label for="serverType" class="col-sm-2 control-label">服务器类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.serverType" id="serverType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in serverTypeDict'
                                ng-init="configInfoInsert.serverType=serverTypeDict[0].entryId;setServerType(configInfoInsert.serverType)"
                                ng-change="setServerType(configInfoInsert.serverType)">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-4">
                        <input type="text" id="userName" class="form-control" ng-model="configInfoInsert.userName"
                               placeholder="必填">
                    </div>
                    <label for="password" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-4">
                        <input type="text" id="password" class="form-control" ng-model="configInfoInsert.password"
                               placeholder="必填">
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.status" id="status" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in statusDict'
                                ng-init="configInfoInsert.status=statusDict[0].entryId">
                        </select>
                    </div>
                    <label for="srcPath" class="col-sm-2 control-label">源路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="srcPath" class="form-control" ng-model="configInfoInsert.srcPath">
                    </div>
                </div>

                <div class="form-group">
                    <label for="destPath" class="col-sm-2 control-label">目标路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="destPath" class="form-control" ng-model="configInfoInsert.destPath">
                    </div>
                    <label for="backupPath" class="col-sm-2 control-label">备份路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="backupPath" class="form-control" ng-model="configInfoInsert.backupPath">
                    </div>
                </div>

                <div class="form-group">
                    <label for="transferMode" class="col-sm-2 control-label">传输模式：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.transferMode" id="transferMode" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in transferModeDict'>
                            <option value=""/>
                        </select>
                    </div>
                    <label for="transProtocol" class="col-sm-2 control-label">传输协议：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfoInsert.transProtocol" id="transProtocol" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in transProtocolDict'>
                            <option value=""/>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fileType" class="col-sm-2 control-label">文件类型：</label>
                    <div class="col-sm-10">
                        <select ng-model="configInfoInsert.fileType" id="fileType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in fileTypeDict'>
                            <option value=""/>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="add()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
                <button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
            </div>
        </form>
    </div>
</script>

<!--模态增加窗口-->
<script type="text/ng-template" id="modify.html">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" align="center">修改定时任务</h4>
        </div>
        <form class="form-horizontal" name="addConfig" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="hostName" class="col-sm-2 control-label">主机名：</label>
                    <div class="col-sm-4">
                        <input type="text" id="hostName" class="form-control" ng-model="configInfo.hostName"
                               placeholder="必填">
                    </div>
                    <label for="serverType" class="col-sm-2 control-label">服务器类型：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.serverType" id="serverType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in serverTypeDict'
                                ng-change="setServerType(configInfo.serverType)"
                                ng-init="setServerType(configInfo.serverType)">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-4">
                        <input type="text" id="userName" class="form-control" ng-model="configInfo.userName"
                               placeholder="必填">
                    </div>
                    <label for="password" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-4">
                        <input type="text" id="password" class="form-control" ng-model="configInfo.password"
                               placeholder="必填">
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.status" id="status" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in statusDict'>
                        </select>
                    </div>
                    <label for="srcPath" class="col-sm-2 control-label">源路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="srcPath" class="form-control" ng-model="configInfo.srcPath">
                    </div>
                </div>

                <div class="form-group">
                    <label for="destPath" class="col-sm-2 control-label">目标路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="destPath" class="form-control" ng-model="configInfo.destPath">
                    </div>
                    <label for="backupPath" class="col-sm-2 control-label">备份路径：</label>
                    <div class="col-sm-4">
                        <input type="text" id="backupPath" class="form-control" ng-model="configInfo.backupPath">
                    </div>
                </div>

                <div class="form-group">
                    <label for="transferMode" class="col-sm-2 control-label">传输模式：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.transferMode" id="transferMode" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in transferModeDict'>
                            <option value=""/>
                        </select>
                    </div>
                    <label for="transProtocol" class="col-sm-2 control-label">传输协议：</label>
                    <div class="col-sm-4">
                        <select ng-model="configInfo.transProtocol" id="transProtocol" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in transProtocolDict'>
                            <option value=""/>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fileType" class="col-sm-2 control-label">文件类型：</label>
                    <div class="col-sm-10">
                        <select ng-model="configInfo.fileType" id="fileType" class="form-control"
                                ng-options='x.entryId as x.entryName for x  in fileTypeDict'>
                            <option value=""/>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="update()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
                <button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript" src="../resources/config/controller/uploadServerConfig.js"></script>
</body>
</html>