<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.code.dao.AppConfigDao">

    <!--<resultMap type="com.newland.boss.cib.crmp.code.entity.AppConfig" id="resourceResultMap">-->
    <!--<result column="CONFIG_TYPE" property="configType" jdbcType="INTEGER" />-->
        <!--<result column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR" />-->
        <!--<result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />-->
        <!--<result column="CONFIG_PATH" property="configPath" jdbcType="VARCHAR" />-->
        <!--<result column="APP_NAME" property="appName" jdbcType="VARCHAR"/>-->
        <!--<result column="APP_INSTANCE_NAME" property="appInstanceName" jdbcType="VARCHAR" />-->
        <!--<result column="CONFIG_DESC" property="configDesc" jdbcType="VARCHAR" />-->
        <!--<result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER" />-->
        <!--<result column="GROUP_ID" property="groupId" jdbcType="INTEGER" />-->
        <!--<result column="CONFIG_SEQ" property="configSeq" jdbcType="INTEGER" />-->
        <!--<association property="dict" javaType="com.newland.boss.cib.crmp.code.entity.Dict">-->
            <!--<id  column="DICT_ID" property="DictId"  jdbcType="INTEGER"></id>-->
            <!--<result column="DICT_NAME" property="DictName" jdbcType="VARCHAR"></result>-->
            <!--<result column="GROUP_ID"  property="GroupId" jdbcType="INTEGER"></result>-->
        <!--</association>-->

    <!--</resultMap>-->
    <resultMap id="BaseResultMap" type="com.newland.boss.cib.crmp.code.entity.BaseAppConfig">
        <result column="CONFIG_TYPE" property="configType" jdbcType="VARCHAR" />
        <result column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR" />
        <result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />
        <result column="CONFIG_PATH" property="configPath" jdbcType="VARCHAR" />
        <result column="APP_NAME" property="appName" jdbcType="VARCHAR"/>
        <result column="APP_INSTANCE_NAME" property="appInstanceName" jdbcType="VARCHAR" />
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER" />
        <result column="SYSTEM_NAME" property="systemName" jdbcType="VARCHAR" />
        <result column="CONFIG_SEQ" property="configSeq" jdbcType="INTEGER" />
    </resultMap>


    <insert id="addConfig" parameterType="com.newland.boss.cib.crmp.code.entity.AppConfig">
        INSERT into BBF_APP_CONFIG
         (SYSTEM_ID,
          APP_NAME,
          APP_INSTANCE_NAME,
          CONFIG_TYPE,
          CONFIG_KEY,
          CONFIG_VALUE,
          CONFIG_PATH,
          CONFIG_SEQ
          )
        VALUES (#{config.systemId},
                #{config.appName},
                #{config.appInstanceName},
                #{config.configType},
                #{config.configKey},
                #{config.configValue},
                #{config.configPath},
                SEQ_BBF_APP_CONFIG.nextval
                )
 </insert>

    <delete id="deleteAppConfig" parameterType="java.lang.Integer">
        delete from BBF_APP_CONFIG where CONFIG_SEQ= #{seq}
    </delete>


    <select id="selectAllAppConfig" resultMap="BaseResultMap">
    select  b.system_Id,b.SYSTEM_NAME,a.APP_NAME,a.APP_INSTANCE_NAME,a.CONFIG_KEY,a.CONFIG_VALUE,a.CONFIG_TYPE,a.CONFIG_PATH,a.CONFIG_SEQ from
    (select b.APP_NAME,a.DICT_NAME CONFIG_TYPE,b.CONFIG_SEQ ,b.CONFIG_TYPE dictfile,b.CONFIG_VALUE, b.APP_INSTANCE_NAME ,
    b.CONFIG_KEY,b.CONFIG_PATH from BBF_APP_CONFIG b, BBF_DICT a where a.DICT_ID = b.CONFIG_TYPE) a ,
    (select b.SYSTEM_ID system_Id,  a.DICT_NAME  SYSTEM_NAME,b.CONFIG_SEQ  from BBF_APP_CONFIG b ,BBF_DICT a where a.DICT_ID = b.SYSTEM_ID) b
    where
    a.CONFIG_SEQ =b.CONFIG_SEQ
    </select>

    <select id="searchConfig" resultMap="BaseResultMap">
        select * from (
        select b.system_ID system_Id, b.system_Name,a.APP_NAME,a.APP_INSTANCE_NAME,a.CONFIG_KEY,a.CONFIG_VALUE,a.CONFIG_TYPE,a.CONFIG_PATH,a.CONFIG_SEQ from
        (select b.APP_NAME,a.DICT_NAME CONFIG_TYPE,b.CONFIG_SEQ ,b.CONFIG_TYPE dictfile,b.CONFIG_VALUE, b.APP_INSTANCE_NAME ,
        b.CONFIG_KEY,b.CONFIG_PATH from BBF_APP_CONFIG b, BBF_DICT a where a.DICT_ID = b.CONFIG_TYPE) a ,
        (select b.SYSTEM_ID system_ID,a.DICT_NAME SYSTEM_Name,b.CONFIG_SEQ  from BBF_APP_CONFIG b ,BBF_DICT a where a.DICT_ID = b.SYSTEM_ID) b
        where
        a.CONFIG_SEQ =b.CONFIG_SEQ)
        where 1=1
        <if test="systemName!=null and systemName!=''">
          AND  SYSTEM_Name = #{systemName}
        </if>
        <if test="appName!=null and appName!=''">
            AND APP_NAME LIKE '%'||#{appName}||'%' ESCAPE '/'
        </if>
        <if test="appInstanceName!=null and appInstanceName!=''">
            AND APP_INSTANCE_NAME = #{appInstanceName}
        </if>

    </select>

    <update id="editConfig" parameterType="com.newland.boss.cib.crmp.code.entity.AppConfig">
        UPDATE BBF_APP_CONFIG
        <set>
            <if test="c.systemId!=null">
              SYSTEM_ID = #{c.systemId},
            </if>
            <if test="c.appName!=null">
              APP_NAME = #{c.appName},
            </if>
            <if test="c.appInstanceName!=null">
              APP_INSTANCE_NAME = #{c.appInstanceName},
            </if>
            <if test="c.configKey!=null">
              CONFIG_KEY = #{c.configKey},
            </if>
            <if test="c.configValue!=null">
              CONFIG_VALUE = #{c.configValue},
            </if>
            <if test="c.configType!=null">
              CONFIG_TYPE = #{c.configType},
            </if>
            <if test="c.configPath!=null">
              CONFIG_PATH = #{c.configPath},
            </if>
        </set>
        where
         CONFIG_SEQ=#{id}


    </update>
</mapper>