<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.admin.dao.OperOrgRelaDao">

	<resultMap type="com.newland.boss.kpi.admin.model.OperOrgRela" id="operOrgRelaResultMap">
		<id column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<id column="ORG_ID" property="orgId" jdbcType="INTEGER" />
		<result column="RELA_STATUS" property="relaStatus" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_OPERATOR_ID" property="modifyOperatorId" jdbcType="INTEGER" />
	</resultMap>
		
	<!-- 添加操作员机构关系 -->
    <insert id="insertOperOrgRela" parameterType="com.newland.boss.kpi.admin.model.OperOrgRela">
		INSERT INTO T_OPER_ORG_RELA (OPERATOR_ID,ORG_ID,RELA_STATUS,CREATE_TIME
			,MODIFY_TIME,MODIFY_OPERATOR_ID, INURE_DATE, EXPIRE_DATE)
			VALUES(#{operatorId},#{orgId},#{relaStatus},sysdate
			,#{modifyTime,jdbcType=VARCHAR},#{modifyOperatorId}, trunc(sysdate, 'dd'), to_date('29991231','yyyymmdd'))
	</insert>

	<!-- 根据操作员ID查找操作员机构关系 -->
	<select id="selectOperOrgRelaByOperId" resultMap="operOrgRelaResultMap" parameterType="INTEGER">
		SELECT * FROM T_OPER_ORG_RELA WHERE OPERATOR_ID = #{operatorId} AND A.RELA_STATUS = 0
	</select>
	
	<!-- 根据操作员ID和机构ID查找出一组操作员机构关系 -->
	<select id="selectAnOperOrgRela" resultMap="operOrgRelaResultMap">
		SELECT * FROM T_OPER_ORG_RELA WHERE OPERATOR_ID = #{operatorId}
			AND ORG_ID = #{orgId} AND A.RELA_STATUS = 0
	</select>
	
	<!--更新信息 -->
	<update id="updateOperOrgRela" parameterType="com.newland.boss.kpi.admin.model.OperOrgRela">
		UPDATE T_OPER_ORG_RELA SET ORG_ID = #{newOrgId},RELA_STATUS = #{relaStatus}
			,MODIFY_TIME = sysdate ,MODIFY_OPERATOR_ID = #{modifyOperatorId}, EXPIRE_DATE = trunc(sysdate, 'dd')
    	 	WHERE OPERATOR_ID = #{operatorId} AND ORG_ID = #{orgId}
	</update>
	
	<!-- 根据操作员ID和机构ID删除出一组操作员机构关系 -->
	<delete id="deleteOperOrgRela" parameterType="java.util.Map">
		DELETE FROM T_OPER_ORG_RELA WHERE OPERATOR_ID = #{operatorId}
			AND ORG_ID = #{orgId}
	</delete>
	
	<!-- 根据操作员ID删除该操作员下的所有机构 -->
	<delete id="deleteOperOrgRelaByOperId" parameterType="INTEGER">
		DELETE FROM T_OPER_ORG_RELA WHERE OPERATOR_ID = #{operatorId}
	</delete>
	
	<update id="updateStatusOperOrgRelaByOperId" parameterType="com.newland.boss.kpi.admin.model.OperOrgRela">
		UPDATE T_OPER_ORG_RELA SET RELA_STATUS = 1, MODIFY_TIME = sysdate, MODIFY_OPERATOR_ID = #{modifyOperatorId},
		EXPIRE_DATE = trunc(sysdate, 'dd')
		WHERE OPERATOR_ID = #{operatorId}
	</update>
	
	<update id="updateStatusOperOrgRelaByOrgId" parameterType="com.newland.boss.kpi.admin.model.OperOrgRela">
		UPDATE T_OPER_ORG_RELA SET RELA_STATUS = 1, MODIFY_TIME = sysdate, MODIFY_OPERATOR_ID = #{modifyOperatorId},
		EXPIRE_DATE = trunc(sysdate, 'dd')
		WHERE ORG_ID = #{orgId}
	</update>
</mapper>