<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.admin.dao.OperatorRoleDao">
	<resultMap type="com.newland.boss.kpi.admin.model.OperatorRole" id="operatorRoleResultMap">
		<id column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_OPERATOR_ID" property="modifyOperatorId" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 插入一组操作员角色关系 -->
	<insert id="insertOperatorRole">
		INSERT INTO T_OPERATOR_ROLE (OPERATOR_ID,ROLE_ID,STATUS,CREATE_TIME
			,MODIFY_TIME,MODIFY_OPERATOR_ID)
			VALUES(#{operatorId},#{roleId},#{status},sysdate
			,#{modifyTime,jdbcType=VARCHAR},#{modifyOperatorId}) 
	</insert>
	
	<!-- 根据操作员ID查找操作员角色关系 -->
	<select id="selectOperatorRoleByOperId" resultMap="operatorRoleResultMap" parameterType="INTEGER">
		SELECT * FROM T_OPERATOR_ROLE WHERE OPERATOR_ID = #{operatorId} 
	</select>
	
	<!-- 查找一组操作员角色关系 -->
	<select id="selectAnOperatorRole" resultMap="operatorRoleResultMap">
		SELECT * FROM T_OPERATOR_ROLE WHERE OPERATOR_ID = #{operatorId}
			AND ROLE_ID = #{roleId}
	</select>
	
	<!-- 删除一组操作员角色关系 -->
	<delete id="deleteOperatorRole">
		DELETE FROM T_OPERATOR_ROLE WHERE OPERATOR_ID = #{operatorId}
			AND ROLE_ID = #{roleId}
	</delete>
	
	<!-- 编辑操作员角色关系 -->
	<update id="updateOperatorRole">
		UPDATE T_OPERATOR_ROLE SET ROLE_ID = #{newRoleId},STATUS = #{status}
			,MODIFY_TIME = sysdate ,MODIFY_OPERATOR_ID = #{modifyOperatorId} 
    	 	WHERE OPERATOR_ID = #{operatorId} AND ROLE_ID = #{roleId}
	</update>
	
	<!-- 根据操作员ID删除操作员角色关系 -->
	<delete id="deleteOperatorRoleByOperId">
		DELETE FROM T_OPERATOR_ROLE WHERE OPERATOR_ID = #{operatorId}
	</delete>
	
</mapper>