<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.settle.dao.RatedNetworkDao">

	<resultMap type="com.newland.boss.cib.crmp.domain.RatedNetwork" id="RatedNetworkResultMap">
		<result column="Cdr_ID" property="cdrId" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
		<result column="ORG_NAME_FULL" property="orgName" jdbcType="VARCHAR" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="BILL_MONTH" property="billMonth" jdbcType="INTEGER" />
		<result column="CDR_TYPE" property="cdrType" jdbcType="INTEGER" />
		<result column="REGION" property="region" jdbcType="INTEGER" />
		<result column="CALL_NUMBER" property="callNumber" jdbcType="INTEGER" />
		<result column="CALLED_NUMBER" property="calledNumber" jdbcType="INTEGER" />
		<result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
		<result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
		<result column="FEE" property="fee" jdbcType="INTEGER" />
		<result column="FILE_NAME" property="fileName" jdbcType="INTEGER" />
		<result column="GUIDING_TIME" property="guidingTime" jdbcType="TIMESTAMP" />
		<result column="FIRST_RATING_TIME" property="firstRatingTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="BANDWIDTH" property="netResource" jdbcType="VARCHAR" />
		<result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询话单详单列表 -->
	<select id="queryNetworkCallListResult" resultMap="RatedNetworkResultMap">
		select a.bill_month,a.fee,(select b.entry_name
				                      from T_DICT_DEF b
				                     where a.fee_type = b.entry_id
				                       and b.dict_class = 1006) fee_type,b.org_name_full
                  from PRIVATE_NETWORK a, T_ORGANIZATION b
				 where a.org_id = b.org_id
		<if test="req.operatorLevel == 1">
		and a.org_id = #{req.orgId} 
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id)
		</if>
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.bill_month &lt;= to_number(to_char(to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss'), 'yyyyMM'))
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.bill_month &gt;= to_number(to_char(to_date(#{req.beginDate},'yyyy-MM-dd'), 'yyyyMM'))
		</if>
		order by a.cdr_id
	</select>
	
	<!-- 查询话单详单列表总数 -->
	<select id="queryNetworkCallListCount" resultType="INTEGER">
		select count(1) from PRIVATE_NETWORK a, T_ORGANIZATION b
				 where a.org_id = b.org_id
		<if test="req.operatorLevel == 1">
		and a.org_id = #{req.orgId} 
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id)
		</if>
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.bill_month &lt;= to_number(to_char(to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss'), 'yyyyMM'))
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.bill_month &gt;= to_number(to_char(to_date(#{req.beginDate},'yyyy-MM-dd'), 'yyyyMM'))
		</if>
		order by a.cdr_id
	</select>
	
	<!-- 话单详单查询用于Excel下载 -->
	<select id="ratedNetworkQuery" resultMap="RatedNetworkResultMap">
		select a.*,b.org_name_full
                  from PRIVATE_NETWORK a, T_ORGANIZATION b
				 where a.org_id = b.org_id
		<if test="req.operatorLevel == 1">
		and a.org_id = #{req.orgId} 
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id)
		</if>
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.bill_month &lt;= to_number(to_char(to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss'), 'yyyyMM'))
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.bill_month &gt;= to_number(to_char(to_date(#{req.beginDate},'yyyy-MM-dd'), 'yyyyMM'))
		</if>
		order by a.cdr_id
	</select>
    
    
	<!-- 查询黑户话单详单列表 -->
	<select id="queryNetworkBlackCallListResult" resultMap="RatedNetworkResultMap">
		select a.cdr_id,
                       a.org_id,
                       b.org_name_full,
                       a.operator_id,
                       a.bill_month,
                       a.cdr_type,
                       c.entry_name,
                       a.region,
                       a.call_number,
                       a.called_number,
                       a.start_time,
                       a.end_time,
                       a.fee,
                       a.file_name,
                       a.guiding_time,
                       a.first_rating_time,
                       a.create_time,
                       a.net_resource
                  from ratedNetwork a, T_ORGANIZATION b, T_DICT_DEF c
                 where a.org_id = b.org_id
                   and a.cdr_type = c.entry_id
                   and c.dict_class = 1001
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		order by a.cdr_id
	</select>
	
	<!-- 查询黑户话单详单列表总数 -->
	<select id="queryNetworkBlackCallListCount" resultType="INTEGER">
		select count(1) from ratedNetwork a, T_ORGANIZATION b, T_DICT_DEF c where a.org_id = b.org_id and a.cdr_type = c.entry_id and c.dict_class = 1001 
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		order by a.create_time
	</select>
	
	<!-- 话单详单查询用于Excel下载 -->
	<select id="ratedNetworkBlackQuery" resultMap="RatedNetworkResultMap">
		select a.cdr_id,
		       a.org_id,
		       b.org_name_full,
		       a.operator_id,
		       a.bill_month,
		       a.cdr_type,
		       c.entry_name,
		       a.region,
		       a.call_number,
		       a.called_number,
		       a.start_time,
		       a.end_time,
		       a.fee,
		       a.file_name,
		       a.guiding_time,
		       a.first_rating_time,
		       a.create_time,
		       a.net_resource
		  from ratedNetwork a, T_ORGANIZATION b, T_DICT_DEF c
		 where a.org_id = b.org_id
		   and a.cdr_type = c.entry_id
		   and c.dict_class = 1001
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		order by a.cdr_id
	</select> 
	
	<!-- 黑户查询 -->
	<select id="queryNetBlackUsersResult" resultMap="RatedNetworkResultMap">
		select *
  from (select t.*, rownum rownu
          from (select *
				  from (select a.*,
				               ROW_NUMBER() over(partition by a.net_resource order by a.start_time desc) n
				          from ratednetwork a
				         where a.cdr_flag = 2
				           and a.bill_month = to_char(a.start_time, 'yyyyMM')
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
			) where n = 1 
		) t 
        where rownum &lt;= #{page} * #{size}) tt where tt.rownu &gt; (#{page} - 1) * #{size}
	</select> 
	
	<!-- 查询黑户话单详单列表总数 -->
	<select id="queryNetBlackUsersListCount" resultType="INTEGER">
		select count(*) from (select *
  							from (select a.*,
				               ROW_NUMBER() over(partition by a.net_resource order by a.start_time desc) n
				          from ratednetwork a
				         where a.cdr_flag = 2
				           and a.bill_month = to_char(a.start_time, 'yyyyMM')
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
			) where n = 1
		)t
	</select>
	
	<!-- 导出黑户 -->
	<select id="queryAllBlackNetUser" resultMap="RatedNetworkResultMap">
		select *
		  from (select a.*,
		               ROW_NUMBER() over(partition by a.net_resource order by a.start_time desc) n
		          from ratednetwork a
		         where a.cdr_flag = 2
		           and a.bill_month = to_char(a.start_time, 'yyyyMM')
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		) where n = 1
	</select>
</mapper>