<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.web.dao.RecalcCdrTaskDao">

	<resultMap type="com.newland.boss.cib.crmp.web.model.QueryRecalculationResp" id="RecalcCdrTaskResultMap">
		<result column="RECALC_TASK_ID" property="recalcTaskId" jdbcType="VARCHAR" />
		<result column="RECALC_TYPE" property="recalcType" jdbcType="VARCHAR" />
		<result column="BILL_MONTH" property="billMonth" jdbcType="VARCHAR" />
		<result column="CDR_TYPE" property="cdrType" jdbcType="VARCHAR" />
		<result column="RECALC_PROGRESS" property="recalcProgress" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="START_TIME" property="startTime" jdbcType="VARCHAR" />
		<result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 未完成重算任务计数 -->
	<select id="undoneRecalcCdrTasktCount" resultType="INTEGER">
	select count(1)
	  from (select a.recalc_task_id,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_type = b.entry_id
                       and b.dict_class = 1010) recalc_type,
                   a.bill_month,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.cdr_type = b.entry_id
                       and b.dict_class = 1001) cdr_type,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_progress = b.entry_id
                       and b.dict_class = 1008) recalc_progress,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.status = b.entry_id
                       and b.dict_class = 1009) status,
                   a.operator_id,
                   a.create_time,
                   a.start_time,
                   a.end_time
	          from RECALC_CDR_TASK a
	         where a.status &lt;&gt; 2
		<if test="req.addCdrType != null and req.addCdrType != ''">
		and a.cdr_type = #{req.addCdrType}
		</if>
		<if test="req.addBillMonth != null and req.addBillMonth != ''">
		and a.bill_month = #{req.addBillMonth}
		</if>
	        union
	        select a.recalc_task_id,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_type = b.entry_id
                       and b.dict_class = 1010) recalc_type,
                   a.bill_month,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.cdr_type = b.entry_id
                       and b.dict_class = 1001) cdr_type,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_progress = b.entry_id
                       and b.dict_class = 1008) recalc_progress,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.status = b.entry_id
                       and b.dict_class = 1009) status,
                   a.operator_id,
                   a.create_time,
                   a.start_time,
                   a.end_time
	          from H_RECALC_CDR_TASK a
	         where a.status &lt;&gt; 2	
		<if test="req.addCdrType != null and req.addCdrType != ''">
		and a.cdr_type = #{req.addCdrType}
		</if>
		<if test="req.addBillMonth != null and req.addBillMonth != ''">
		and a.bill_month = #{req.addBillMonth}
		</if>
	        ) task
	 order by create_time desc
	</select>
	
	<!-- 插入重算任务 -->
	<insert id="insertRecalcCdrTask">
	insert into RECALC_CDR_TASK (RECALC_TASK_ID, RECALC_TYPE, BILL_MONTH, CDR_TYPE, RECALC_PROGRESS, STATUS, OPERATOR_ID, CREATE_TIME, START_TIME, END_TIME,DESCRIPTION)
	values (SEQ_RECALC_CDR_TASK_ID.nextval, #{req.addRecalcType}, #{req.addBillMonth}, #{req.addCdrType}, 1, 0, #{req.operatorId}, sysdate, null, null,#{req.addDesc,jdbcType=VARCHAR})
	</insert>
	
	<!-- 分页查询重算任务列表 -->
	<select id="queryRecalcCdrTaskListResult" resultMap="RecalcCdrTaskResultMap">
	select *
	  from (select t.*, rownum rownu
	          from (select *
	                  from (select a.recalc_task_id,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.recalc_type = b.entry_id
				                       and b.dict_class = 1010) recalc_type,
				                   a.bill_month,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.cdr_type = b.entry_id
				                       and b.dict_class = 1001) cdr_type,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.recalc_progress = b.entry_id
				                       and b.dict_class = 1008) recalc_progress,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.status = b.entry_id
				                       and b.dict_class = 1009) status,
				                   a.operator_id,
				                   to_char(a.create_time,'YYYY-MM-dd HH24:mi:ss') create_time,
				                   to_char(a.start_time,'YYYY-MM-dd HH24:mi:ss') start_time,
				                   to_char(a.end_time,'YYYY-MM-dd HH24:mi:ss') end_time
	                          from RECALC_CDR_TASK a
                         	 where 1 = 1
		<if test="req.cdrType != null and req.cdrType != ''">
		and a.cdr_type = #{req.cdrType}
		</if>
		<if test="req.recalcType != null and req.recalcType != ''">
		and a.recalc_type = #{req.recalcType}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and (a.end_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss') or a.end_time is null)
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
	                        union
	                        select a.recalc_task_id,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.recalc_type = b.entry_id
				                       and b.dict_class = 1010) recalc_typee,
				                   a.bill_month,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.cdr_type = b.entry_id
				                       and b.dict_class = 1001) cdr_type,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.recalc_progress = b.entry_id
				                       and b.dict_class = 1008) recalc_progress,
				                   (select b.entry_name
				                      from T_DICT_DEF b
				                     where a.status = b.entry_id
				                       and b.dict_class = 1009) status,
				                   a.operator_id,
				                   to_char(a.create_time,'YYYY-MM-dd HH24:mi:ss') create_time,
				                   to_char(a.start_time,'YYYY-MM-dd HH24:mi:ss') start_time,
				                   to_char(a.end_time,'YYYY-MM-dd HH24:mi:ss') end_time
	                          from H_RECALC_CDR_TASK  a
                         	 where 1 = 1
	    <if test="req.cdrType != null and req.cdrType != ''">
		and a.cdr_type = #{req.cdrType}
		</if>
		<if test="req.recalcType != null and req.recalcType != ''">
		and a.recalc_type = #{req.recalcType}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and (a.end_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss') or a.end_time is null)
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
	                           ) task
	                 order by create_time desc) t
	         where rownum &lt;= #{page} * #{size}) tt where tt.rownu &gt; (#{page} - 1) * #{size}
	</select>
	
	<!-- 查询重算任务列表总数 -->
	<select id="queryRecalcCdrTaskListCount" resultType="INTEGER">
	select count(1)
	  from (select a.recalc_task_id,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_type = b.entry_id
                       and b.dict_class = 1010) recalc_type,
                   a.bill_month,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.cdr_type = b.entry_id
                       and b.dict_class = 1001) cdr_type,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_progress = b.entry_id
                       and b.dict_class = 1008) recalc_progress,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.status = b.entry_id
                       and b.dict_class = 1009) status,
                   a.operator_id,
                   a.create_time,
                   a.start_time,
                   a.end_time
	          from RECALC_CDR_TASK a
	         where 1=1
		<if test="req.cdrType != null and req.cdrType != ''">
		and a.cdr_type = #{req.cdrType}
		</if>
		<if test="req.recalcType != null and req.recalcType != ''">
		and a.recalc_type = #{req.recalcType}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and (a.end_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss') or a.end_time is null)
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
	        union
	        select a.recalc_task_id,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_type = b.entry_id
                       and b.dict_class = 1010) recalc_type,
                   a.bill_month,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.cdr_type = b.entry_id
                       and b.dict_class = 1001) cdr_type,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.recalc_progress = b.entry_id
                       and b.dict_class = 1008) recalc_progress,
                   (select b.entry_name
                      from T_DICT_DEF b
                     where a.status = b.entry_id
                       and b.dict_class = 1009) status,
                   a.operator_id,
                   a.create_time,
                   a.start_time,
                   a.end_time
	          from H_RECALC_CDR_TASK a
	         where 1=1		
		<if test="req.cdrType != null and req.cdrType != ''">
		and a.cdr_type = #{req.cdrType}
		</if>
		<if test="req.recalcType != null and req.recalcType != ''">
		and a.recalc_type = #{req.recalcType}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and (a.end_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss') or a.end_time is null)
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
	        ) task
	 order by create_time desc
	</select>

	
</mapper>