<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.dao.SettleApportionRelaDao">
	<resultMap type="com.newland.boss.cib.crmp.domain.SettleApportionRela"
		id="sarResultMap">
		<id column="APPORTION_RELA_ID" property="apportionRelaId" jdbcType="INTEGER" />
		<result column="OBJECT_TYPE" property="objectType" jdbcType="INTEGER" />
		<result column="OBJECT_ID" property="objectId" jdbcType="INTEGER" />
		<result column="APPORTION_ITEM_ID" property="apportionItemId"
			jdbcType="INTEGER" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="INURE_DATE" property="inureDate" jdbcType="TIMESTAMP" />
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="TIMESTAMP" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap type="com.newland.boss.cib.crmp.domain.RuleRela" id="ruleRelaMap">
		<id column="APPORTION_RELA_ID" property="apportionRelaId" jdbcType="INTEGER" />
		<result column="OBJECT_TYPE" property="objectType" jdbcType="INTEGER" />
		<result column="OBJECT_ID" property="objectId" jdbcType="INTEGER" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="APPORTION_ITEM_ID" property="apportionItemId"
			jdbcType="INTEGER" />
		<result column="APPORTION_RULE_NAME" property="apportionRuleName"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="INURE_DATE" property="inureDate" jdbcType="TIMESTAMP" />
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="TIMESTAMP" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		APPORTION_RELA_ID,OBJECT_TYPE,OBJECT_ID,APPORTION_ITEM_ID,
		STATUS,INURE_DATE,EXPIRE_DATE,OPERATOR_ID,CREATE_DATE
	</sql>

	<!-- 查询条件 -->
	<sql id="whereClause">
		<where>
			<if test="apportionRelaName!=null">and t.APPORTION_Rela_NAME LIKE
				'%'||#{apportionRelaName}||'%' ESCAPE '/'</if>
			<if test="apportionItemId!=null">and t.APPORTION_ITEM_ID = #{apportionItemId}</if>
			<if test="cdrType!=null">and t.CDR_TYPE = #{cdrType}</if>
			<if test="inureDate!=null">and t.INURE_DATE &gt;= #{inureDate}</if>
			<if test="expireDate!=null">and t.EXPIRE_DATE &lt;= #{expireDate}</if>
			<if test="status!=null">and t.STATUS = #{status}</if>
		</where>
	</sql>

	<select id="combinQueryRuleRela" resultMap="ruleRelaMap">
		SELECT R.APPORTION_RELA_ID,
		R.OBJECT_TYPE,
		R.OBJECT_ID,
		O.ORG_NAME_FULL AS ORG_NAME,
		R.APPORTION_ITEM_ID,
		E.APPORTION_RULE_NAME,
		R.STATUS,
		R.INURE_DATE,
		R.EXPIRE_DATE,
		R.OPERATOR_ID,
		R.CREATE_DATE
		FROM SETTLE_APPORTION_RELA R,
		T_ORGANIZATION O,
		SETTLE_APPORTION_RULE E
		WHERE R.OBJECT_ID =
		O.ORG_ID
		AND R.APPORTION_ITEM_ID = E.APPORTION_ITEM_ID
		AND
		R.OBJECT_TYPE = '1'
		AND O.ORG_STATUS = '0'
		<if test="orgIdList!=null and orgIdList.size>0">
			AND R.OBJECT_ID IN
			<foreach item="item" index="index" collection="orgIdList" open="(" separator="," close=")">  
		　　　　#{item}  
		　　    </foreach>  
		</if>
		<if test="ruleRela.objectId!=null and ruleRela.objectId!=''">and R.OBJECT_ID = #{ruleRela.objectId}</if>
		<if test="ruleRela.orgName!=null and ruleRela.orgName!=''">and O.ORG_NAME LIKE '%'||#{ruleRela.orgName}||'%'</if>
		<if test="ruleRela.apportionItemId!=null and ruleRela.apportionItemId!=''">and R.APPORTION_ITEM_ID = #{ruleRela.apportionItemId}</if>
		<if test="ruleRela.apportionRuleName!=null and ruleRela.apportionRuleName!=''">and E.APPORTION_RULE_NAME LIKE
			'%'||#{ruleRela.apportionRuleName}||'%' ESCAPE '/'</if>
		<if test="ruleRela.inureDate!=null">and R.INURE_DATE &gt;= #{ruleRela.inureDate}</if>
		<if test="ruleRela.expireDate!=null">and R.EXPIRE_DATE &lt;= #{ruleRela.expireDate}</if>
		<if test="ruleRela.status!=null">and R.STATUS = #{ruleRela.status}</if>
		ORDER BY R.APPORTION_RELA_ID DESC
	</select>

	<select id="queryAllSettleApportionRela" resultMap="sarResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM SETTLE_APPORTION_RELA
	</select>

	<select id="querySettleApportionRelaByRuleId" resultMap="sarResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM SETTLE_APPORTION_RELA
		WHERE APPORTION_ITEM_ID =
		#{apportionItemId}
	</select>

	<select id="querySettleApportionRelaByOrgId" resultMap="ruleRelaMap">
		SELECT NULL AS APPORTION_RELA_ID,
		       NULL AS OBJECT_TYPE,
		       NULL AS OBJECT_ID,
		       CONCAT(O.ORG_NAME, '(') || CONCAT(O.ORG_NAME_FULL, ')') AS ORG_NAME,
		       R.APPORTION_ITEM_ID,
		       R.APPORTION_RULE_NAME,
		       R.STATUS,
		       R.INURE_DATE,
		       R.EXPIRE_DATE,
		       NULL AS OPERATOR_ID,
		       NULL AS CREATE_DATE
		  FROM SETTLE_APPORTION_RULE R, T_ORGANIZATION O
		 WHERE R.SCOPE = 1
		   AND O.ORG_ID = #{objectId}
		UNION ALL
		SELECT R.APPORTION_RELA_ID,
		       R.OBJECT_TYPE,
		       R.OBJECT_ID,
		       CONCAT(O.ORG_NAME, '(') || CONCAT(O.ORG_NAME_FULL, ')') AS ORG_NAME,
		       R.APPORTION_ITEM_ID,
		       E.APPORTION_RULE_NAME,
		       R.STATUS,
		       R.INURE_DATE,
		       R.EXPIRE_DATE,
		       R.OPERATOR_ID,
		       R.CREATE_DATE
		  FROM SETTLE_APPORTION_RELA R, T_ORGANIZATION O, SETTLE_APPORTION_RULE E
		 WHERE R.OBJECT_ID = O.ORG_ID
		   AND R.APPORTION_ITEM_ID = E.APPORTION_ITEM_ID
		   AND R.OBJECT_TYPE = '1'
		   AND O.ORG_STATUS = '0'
		   AND R.OBJECT_ID = #{objectId}
		 ORDER BY APPORTION_RELA_ID DESC, APPORTION_ITEM_ID ASC
	</select>
	
	<select id="querySettleApportionRelaIsExistence" resultMap="sarResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM SETTLE_APPORTION_RELA
		WHERE APPORTION_ITEM_ID = #{arg0}
		AND
		OBJECT_ID = #{arg1}
	</select>
	
	<select id="queryRelaByRuleId" resultType="Integer" parameterType="Integer">
		SELECT COUNT(1)
		FROM SETTLE_APPORTION_RELA
		WHERE APPORTION_ITEM_ID = #{arg0}
	</select>

	<select id="querySettleApportionRelaByParam" resultMap="sarResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM SETTLE_APPORTION_RELA
		ORDER BY T.APPORTION_RELA_ID
	</select>

	<delete id="deleteSettleApportionRelaByObjectId" parameterType="Integer">
		DELETE FROM
		SETTLE_APPORTION_RELA
		WHERE OBJECT_ID = #{objectId}
	</delete>

	<delete id="deleteSettleApportionRelaByRuleId" parameterType="Integer">
		DELETE FROM
		SETTLE_APPORTION_RELA
		WHERE APPORTION_ITEM_ID =
		#{apportionItemId}
	</delete>

	<delete id="deleteSettleApportionRela" parameterType="Integer">
		DELETE FROM
		SETTLE_APPORTION_RELA
		WHERE APPORTION_RELA_ID = #{apportionRelaId}
	</delete>

	<insert id="insertSettleApportionRela" keyProperty="apportionRelaId">

		<selectKey resultType="int" order="BEFORE" keyProperty="apportionRelaId">
			SELECT SEQ_APPORTION_RULE_RELA_ID.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO SETTLE_APPORTION_RELA
		(APPORTION_RELA_ID,OBJECT_TYPE,OBJECT_ID,APPORTION_ITEM_ID,
		STATUS,INURE_DATE,EXPIRE_DATE,OPERATOR_ID,CREATE_DATE)
		VALUES
		(#{apportionRelaId},#{objectType},#{objectId},#{apportionItemId},
		#{status},#{inureDate},#{expireDate},#{operatorId},#{createDate})
	</insert>

	<update id="updateSettleApportionRela">
		UPDATE SETTLE_APPORTION_RELA
		<set>
			<if test="objectType != null">
				OBJECT_TYPE =
				#{objectType,jdbcType=INTEGER},
			</if>
			<if test="objectId != null">
				OBJECT_ID = #{objectId,jdbcType=INTEGER},
			</if>
			<if test="apportionItemId != null">
				APPORTION_ITEM_ID = #{apportionItemId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="inureDate != null">
				INURE_DATE = #{inureDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expireDate != null">
				EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
			</if>
			<if test="operatorId != null">
				OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE APPORTION_RELA_ID = #{apportionRelaId,jdbcType=INTEGER}
	</update>

	<update id="updateSettleApportionRelaTime">
		UPDATE SETTLE_APPORTION_RELA
		<set>
			<if test="inureDate != null">
				INURE_DATE = #{inureDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expireDate != null">
				EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE APPORTION_ITEM_ID = #{apportionItemId,jdbcType=INTEGER}
	</update>
</mapper>