<!DOCTYPE HTML>
<html>
<meta name="referrer" content="no-referrer">
<head>
<meta charset="utf-8">
<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<style>
body {
	overflow: hidden;
	margin: 0px auto;
}
table tr {
    height: 34px;
}
.nav>li>a {
    padding: 5px 15px;
}
.modal {
	background-color: rgba(102, 102, 102, 0.85);
}
.container {
	padding: 0px 0px 0px 0px;
	margin-top: 30px;
	width: 598px;
	box-shadow: 0 0 20px #888888;
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
}
</style>

<title>DMA黑户话单查询</title>
</head>
<body ng-app="myApp">
<div class="am-tabs" data-am-tabs style="width: 100%; height: 100%;">

	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">黑户统计</a></li>
		<li><a href="#tab2" data-toggle="tab">黑户详单查询</a></li>
	</ul>
  
<div  id="myTabContent" class="tab-content" style="width: 100%; height: 90%">
<div ng-app="dmaBlackQueryApp" ng-controller="dmaBlackQueryController" style="width: 100%; height: 100%;padding-right: 10px;" class="tab-pane fade" id="tab2" ng-init="url='../rest/queryBlackDmaList';p_pernum=10" ng-cloak>
<div style="display: inline-block; width: 100%; text-align: right;padding-top: 10px;">
	会议号：<div style="display: inline-block; margin-right: 10px; width: 10%;">
		<input type="text" class="input-text" ng-model="data.roomId">
	</div>
	日期：<div style="display: inline-block; margin-right: 10px; width: 19%;">
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}', readOnly:true})" id="beginDate" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="beginDate" onChange="">
			-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}',maxDate:'%y-%M-%d', readOnly:true})" id="endDate" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="endDate" onChange="">
	</div>
	<div style="display: inline-block;">
		<span><button ng-click="validateData();load_page(1)" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe709;</i>&nbsp;查询</button>&nbsp;</span>
		<span><button type="reset" ng-click="resetBtn()" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe68f;</i>&nbsp;重置</button></span>
	</div>
</div>
<div >
	<div class="mt-15" style="height: 400px; ">
		<table id="table-dma" class="table-condensed table-border table-hover">
			<thead>
				<tr class="text-c">
					<th width="100">notes名</th>
					<th width="100">方数</th>
					<th width="100">会议号</th>
					<th width="80">会议起始时间</th>
					<th width="80">会议结束时间</th>
					<th width="80">时长/(时)</th>
					<th width="80">费用/(元)</th>
					<th width="80">保障费/(元)</th>
					<th width="60">部门编辑</th>
				</tr>
			</thead>
			<tbody id="main02">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.operatorId}}</td>
					<td>{{x.partCount}}</td>
					<td>{{x.conferenceNumber}}</td>
					<td>{{x.startTime}}</td>
					<td>{{x.endTime}}</td>
					<td>{{x.holdingTime}}</td>
					<td>{{x.fee}}</td>
					<td>{{x.otherFee}}</td>
					<td ng-cloak>
						<button class="btn btn-primary size-MINI" ng-click="editUserInfoForDetail(list, $index)" ng-if="x.conferenceNumber">
							部门编辑
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div page-directive style="margin-top: 10px;"></div>
		<div style="margin-top: 10px; width: 100%;">
		<span class="r"><button name="" id="" class="cr btn btn-primary"type="" ng-click="download()" ng-show="count"><i class="Hui-iconfont">&#xe640;</i> 下载</button> &nbsp;&nbsp;</span>
		</div>
</div>

<!--模态增加窗口-->
 	<div class="modal fade" id="addModal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="false">

		<div class="modal-content container" style="width: 648px;">
			<div class="ng-scope">
			<div class="modal-header" style="width:100%">
				<h4 class="modal-title" align="center">部门编辑</h4>
			</div>
			<div class="modal-body">
        		<div align="center">
					<div class="form-horizontal">
  					<div class="form-group">
    					<label for="callNumber" class="col-sm-3 control-label">会议号：</label>
    					<div class="col-sm-8">
							<input type="text" class="input-text" ng-model="conferenceNumber" ng-value="{{conferenceNumber}}" readonly>
    					</div>
  					</div>
					<div class="form-group">
    					<label for="startTime" class="col-sm-3 control-label">起始时间：</label>
    					<div class="col-sm-8">
							<input type="text" class="input-text" ng-model="startTime" ng-value="{{startTime}}" readonly>
    					</div>
  					</div>
  					<div class="form-group">
    					<label for="endTime" class="col-sm-3 control-label">结束时间：</label>
    					<div class="col-sm-8">
							<input type="text" class="input-text" ng-model="endTime" ng-value="{{endTime}}" readonly>
    					</div>
  					</div>
					<div class="form-group">
    					<label for="orgDate" class="col-sm-3 control-label">选择机构：</label>
    					<div class="col-sm-6">
							<div id="orgTreeInput">
      						<input type="text" class="form-control" id="orgNames" ng-model="orgNames" ng-click="showTree()" readonly="readonly">
							<div id="orgTreeDiv" align="left" style="display: none; position: absolute; border: 1px solid #ccc; background-color: white; height: 300px; overflow-y: auto;">
								<input type="text" id="predicate" class="input-text" ng-model="predicate" placeholder="搜索"/>
								<treecontrol class="tree-boot"  
									tree-model="orgData"  
				  					options="treeOptions"  
				  					on-selection="showSelected(node)"  
									selected-node="node"
									filter-expression="predicate" 
									filter-comparator="comparator">  
									<label title="{{node.orgNameFull}}">{{node.orgNameFull}}</label>
								</treecontrol>
							</div>
							</div>
						</div>
						<label for="orgDate" class="col-sm-2 control-label">保障费：<input type="checkbox" ng-model="addFlag"></label>
					</div>
					</div>
        		</div>
    		</div>
			<div class="modal-footer" style="width:100%">
        		<button class="btn btn-primary" ng-click="confirm()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
        		<button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
    		</div>
    		</div>
		</div>
	</div>

</div>

<div style="height: 100%" class="tab-pane fade in active" id="tab1" ng-app="dmaBlackUserQueryApp" ng-controller="dmaBlackUserQueryController" ng-init="url='../rest/queryDmaBlackUserList';p_pernum=10" ng-cloak>
<div style="display: inline-block; width: 100%; text-align: right;padding-top: 10px;">
	会议号：<div style="display: inline-block; margin-right: 10px; width: 10%;">
		<input type="text" class="input-text" ng-model="data.roomId">
	</div>
	日期：<div style="display: inline-block; margin-right: 10px; width: 19%;">
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate1\')||\'%y-%M-%d\'}', readOnly:true})" id="beginDate1" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="beginDate" onChange="">
			-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate1\')}',maxDate:'%y-%M-%d', readOnly:true})" id="endDate1" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="endDate" onChange="">
	</div>
	<div style="display: inline-block;">
		<span><button ng-click="validateData();load_page(1)" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe709;</i>&nbsp;查询</button>&nbsp;</span>
		<span><button type="reset" ng-click="resetBtn()" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe68f;</i>&nbsp;重置</button></span>
	</div>
</div>
<div >
	<div class="mt-15" style="height: 400px; ">
		<table id="table-dma" class="table-condensed table-border table-hover">
			<thead>
				<tr class="text-c">
					<th width="100">会议号</th>
					<th width="80">话单数</th>
					<th width="80">费用/(元)</th>
					<th width="100">归属月份</th>
					<th width="60">部门编辑</th>
				</tr>
			</thead>
			<tbody id="main02">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.conferenceNumber}}</td>
					<td>{{x.count}}</td>
					<td>{{x.fee}}</td>
					<td>{{x.billMonth}}</td>
					<td ng-cloak>
						<button class="btn btn-primary size-MINI" ng-click="editUserInfo(list, $index)" ng-if="x.conferenceNumber">
							部门编辑
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div page-directive style="margin-top: 10px;"></div>
		<div style="margin-top: 10px; width: 100%;">
		<span class="r"><button name="" id="" class="cr btn btn-primary"type="" ng-click="download()" ng-show="count"><i class="Hui-iconfont">&#xe640;</i> 下载</button> &nbsp;&nbsp;</span>
		</div>
</div>


<!--模态增加窗口-->
 	<div class="modal fade" id="addModal1" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="false">

		<div class="modal-content container">
			<div class="ng-scope">
			<div class="modal-header" style="width:100%">
				<h4 class="modal-title" align="center">部门编辑</h4>
			</div>
			<div class="modal-body">
        		<div align="center">
					<div class="form-horizontal">
  					<div class="form-group">
    					<label for="callNumber" class="col-sm-3 control-label">会议号：</label>
    					<div class="col-sm-8">
							<input type="text" class="input-text" ng-model="conferenceNumber" ng-value="{{conferenceNumber}}" readonly>
    					</div>
  					</div>
					<div class="form-group">
    					<label for="billMonth" class="col-sm-3 control-label">归属月份：</label>
    					<div class="col-sm-8">
							<input type="text" class="input-text" ng-model="billMonth" ng-value="{{billMonth}}" readonly>
    					</div>
  					</div>
					<div class="form-group">
    					<label for="orgDate" class="col-sm-3 control-label">选择机构：</label>
    					<div class="col-sm-8">
							<div id="orgTreeInput1">
      						<input type="text" class="form-control" id="orgNames1" ng-model="orgNames" ng-click="showTree()" readonly="readonly">
							<div id="orgTreeDiv1" align="left" style="display: none; position: absolute; border: 1px solid #ccc; background-color: white; height: 300px; overflow-y: auto;">
								<input type="text" id="predicate1" class="input-text" ng-model="predicate" placeholder="搜索"/>
								<treecontrol class="tree-boot"  
									tree-model="orgData"  
				  					options="treeOptions"  
				  					on-selection="showSelected(node)"  
									selected-node="node"
									filter-expression="predicate" 
									filter-comparator="comparator">  
									<label title="{{node.orgNameFull}}">{{node.orgNameFull}}</label>
								</treecontrol>
							</div>
							</div>
						</div>
  					</div>
					</div>
        		</div>
    		</div>
			<div class="modal-footer" style="width:100%">
        		<button class="btn btn-primary" ng-click="confirm()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
        		<button class="btn btn-primary" ng-click="cancel()"><i class="Hui-iconfont">&#xe6a6;</i> 关闭</button>
    		</div>
    		</div>
		</div>
	</div>

</div>

</div>
</div>
<script type="text/javascript" src="../resources/statement/controller/common.js"></script>
<script type="text/javascript" src="../resources/statement/controller/dmaBlackQuery.js"></script>
<script type="text/javascript" src="../skeleton/lib/page-bar.js"></script>
<script type="text/javascript">
</script>
</body>
</html>