<style>
.rcorners {
	width: 99%;
	min-height: 550px;
}
.level1 {
	margin: 60px auto;
}
.level1 > div {
	height: 400px; float: left; width: 49%; margin-bottom: 60px;
}
.level2 {
	margin: auto;
}
.level2 > div {
	height: 260px; float: left; width: 49%; margin-bottom: 10px;
}
</style>
<div class="rcorners" align="center" ng-controller="indexController" ng-cloak>
	<div class="myTest" style="width: 100%; position: absolute; left: -100%; opacity:0.0;">
		<div id="level1" class="level1" ng-if="operatorLevel == 1">
			<div id="line" ng-show="lineFlag">
				<feeline id="lineMain" line-xdata="lineXdata" line-sdata="lineSdata" legend="legend" height="400px"></feeline>
			</div>
			
			<div id="pie" ng-show="pieFlag">
				<feepie id="pieMain" pie-sdata="pieSdata" legend="legend" height="400px"></feepie>
			</div>
		</div>
		<div id="level1" class="level1" ng-if="operatorLevel == 2">
			<div id="line" ng-show="lineFlag">
				<feeline id="lineMain" line-xdata="lineXdata" line-sdata="lineSdata" legend="legend" height="400px"></feeline>
			</div>
			
			<div id="pie" ng-show="pieFlag">
				<feepie id="pieMain" pie-sdata="pieSdata" legend="legend" height="400px"></feepie>
			</div>
		</div>
		<div id="level2" class="level2" ng-if="operatorLevel == 3">
			<div id="bar" ng-show="totalBarFlag">
				<totalfeebar id="totalBarMain" tbar-xdata="tbarXdata" tbar-sdata="tbarSdata"  height="260px" level="operatorLevel"></totalfeebar>
			</div>
			
			<div id="totalBar" ng-show="totalBarFlag">
				<totalfeebar id="totalBarMain1" tbar-xdataa="_tbarXdata" tbar-sdataa="_tbarSdata" height="260px" level="operatorLevel"></totalfeebar>
			</div>
			
			<div id="line" ng-show="lineFlag">
				<feeline id="lineMain" line-xdata="lineXdata" line-sdata="lineSdata" legend="legend" height="260px"></feeline>
			</div>
			
			<div id="pie" ng-show="pieFlag">
				<feepie id="pieMain" pie-sdata="pieSdata" legend="legend" height="260px"></feepie>
			</div>
		</div>
	</div>
</div>
