<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.dao.OrganizationDao">
	<resultMap type="com.newland.boss.kpi.model.Organization" id="organizationResultMap">
		<id column="ORG_ID" property="org_id" jdbcType="INTEGER"/>  
        <result column="ORG_NAME" property="org_name" jdbcType="VARCHAR"/>
        <result column="ORG_STATUS" property="org_status" jdbcType="VARCHAR"/>
        <result column="ORG_DESC" property="org_desc" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="create_time" jdbcType="TIMESTAMP"/>  
	</resultMap>
	<select id="selectOrganizationById" resultMap="organizationResultMap">
		SELECT * FROM organization WHERE ORG_ID = #{org_id}
	</select>
	
    <insert id="insertOrganization" parameterType="com.newland.boss.kpi.model.Organization" >
        INSERT INTO organization(org_name,org_status,org_desc,create_time) 
        	values(#{org_name},#{org_status},#{org_desc},sysdate)
    </insert>
    
    <select id="selectOrgAll" resultMap="organizationResultMap">
    	SELECT * FROM organization ORDER BY ORG_ID
    </select>
    
    <delete id="deleteOrganizationById">
    	DELETE FROM organization WHERE ORG_ID = #{org_id}
    </delete>
    
    <update id="updateOrganization" parameterType="com.newland.boss.kpi.model.Organization">
    	 UPDATE organization SET ORG_NAME=#{org_name},ORG_DESC=#{org_desc},
    	 CREATE_TIME=sysdate WHERE ORG_ID = #{org_id};
    </update>
    
    <select id="fuzzySearchOrg" resultMap="organizationResultMap">
    	SELECT * FROM organization WHERE ORG_ID LIKE  '%${search_message}%'
			UNION
		SELECT * FROM organization WHERE ORG_NAME LIKE '%${search_message}%'
    </select>
    
</mapper>