<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	 
	<display-name>bosskpi</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/spring-*.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
   		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>    
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>    
	</listener>
	
	<filter>
    	<filter-name>commonFilter</filter-name>
    	<filter-class>com.newland.boss.cib.crmp.web.filter.CommonFilter</filter-class>
	</filter>
  
	<filter-mapping>
		<filter-name>commonFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	
	<filter>
    	<filter-name>SecurityFilter</filter-name>
    	<filter-class>com.newland.global_common.filter.SecurityFilter</filter-class>
	    <init-param>
	      <param-name>isOpenParamFile</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <init-param>
	      <param-name>paramFileName</param-name>
	      <param-value>securityscan.xml</param-value>
	    </init-param>
	</filter>
  
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/noresources/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.newland.boss.kpi.controller.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	
	<!-- 定义Spring MVC 的前端控制器 -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	 
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<session-config>
	   <session-timeout>15</session-timeout>
	</session-config>
	
	<error-page>  
 		<error-code>500</error-code>  
 		<location>/accessdenied.html</location>  
	</error-page>  
</web-app>
