<!DOCTYPE html>
<html ng-app="editApp">
<head>
<meta charset="UTF-8">
<title>编辑组织</title>
<script type="text/javascript" src="resources/skeleton/js/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="resources/skeleton/css/bootstrap.min.css"/>
<script type="text/javascript" src="resources/skeleton/js/angular.min-1.6.5.js"></script>
<script type="text/javascript" src="resources/skeleton/js/bootstrap.min.js"></script>
<style type="text/css">
	body{
		overflow:hidden;
		margin:0px;
		background-color: #f0f0f0;
	}
	.container{
		margin-top:120px;
		width:540px;
		box-shadow:  0 0 20px #888888;
		z-index:10;
		background-color:white;
	}
	.input-group{
		height:50px;
		width:300px;
		padding:10px;
		margin: 0px auto;
		text-align:center;
	}
	
	.div-stu-validate{
		margin-top: -36px;
		margin-left: 408px;
		position: absolute;
		color: red;
	}	
	.sp-long{
		width: 100px;
	}
	.update_button{
		width: 280px;
	}
</style>
</head>
<body ng-controller="editController">
	<div class="container" >
		<table>
			<form name="org_update" action="" method="post" novalidate>
				<div class="input-group">
            		<span class="input-group-addon sp-long">部门名：</span>
            		<input type="text" class="form-control" id="org_name"  name="org_name"
            			ng-model="org_name" >
        		</div>
        		<div class="div-stu-validate">
    				<span id="used"></span>
    			</div>
    			
        		<div class="input-group">
            		<span class="input-group-addon sp-long">部门简介：</span>
            		<input type="text" class="form-control" id="org_desc"  name="org_desc"
            			ng-model="org_desc" ng-click='validate()'>
        		</div>
        		<div class="div-stu-validate">
    				<span id="passwordValidate"></span>
    			</div>
    			
    			<div class="input-group" >
        			<button type="button" class="btn btn-default update_button" id="stu_update" 
        				ng-click = "orgUpdate()">
        				修改
        			</button>
        		</div>
        		
			</form>
		</table>
	</div>
	<script type="text/javascript" src="resources/biz/controller/editOrg.js"></script>
</body>
</html>