<!DOCTYPE HTML>
<html>
<meta name="referrer" content="no-referrer">
<head>
<meta charset="utf-8">
<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<style>
body {
	padding: 10px 20px 10px 10px;
}
table tr {
    height: 30px;
}
</style>
<title>黑户话单查询</title>
</head>
<body ng-app="callListBlackApp" ng-controller="callListBlackController" ng-init="url='../rest/queryBlackCallList';p_pernum=14" ng-cloak>
<nav class="breadcrumb" style="display:none"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 报表查询&分析 <span class="c-gray en">&gt;</span> 黑户报表查询 <span class="c-gray en">&gt;</span> 黑户话单查询 <a class="btn btn-primary radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div>
	<div class="text-c"> 
		<div class="cl">
			<span class="l">资源类型：
			<select class="input-text" style="width:120px;" ng-change="resourceTypeChange()" ng-model="data.resourceType">
				<option ng-repeat="x in resourceTypes" value="{{x.entryId}}">{{x.entryName}}</option>
			</select> &nbsp;&nbsp;</span>
			<span class="l">
			查询周期：<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})" id="beginDate" class="input-text Wdate" style="width:120px; cursor: pointer;" ng-model="data.beginDate" onChange="">
			-
			<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}',maxDate:'%y-%M-%d'})" id="endDate" class="input-text Wdate" style="width:120px; cursor: pointer;" ng-model="data.endDate" onChange="">
			</span>
			<span class="r"><button name="" id="" class="cr btn btn-primary"type="" ng-click="resetBtn()"><i class="Hui-iconfont">&#xe68f;</i> 重置</button> &nbsp;&nbsp;</span> 
			<span class="r"><button name="" id="" class="cr btn btn-primary" type="" ng-click="load_page(1)"><i class="Hui-iconfont">&#xe709;</i> 查询</button> &nbsp;&nbsp;</span>			
		</div>
	</div>
	<div class="mt-5" style="height: 455px; ">
		<table id="table-cdr" class="table-condensed table-border table-hover">
			<thead>
				<tr class="text-c">
					<th width="100">主叫号码</th>
					<th width="100">被叫号码</th>
					<th width="100">通话起始时间</th>
					<th width="100">通话结束时间</th>
					<th width="80">通话时长</th>
					<th width="80">地区名</th>
				</tr>
			</thead>
			<tbody id="main01">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.callNumber}}</td>
					<td>{{x.calledNumber}}</td>
					<td>{{x.startTime}}</td>
					<td>{{x.endTime}}</td>
					<td>{{x.holdingTime}}</td>
					<td>{{x.region}}</td>
				</tr>
			</tbody>
		</table>
		<table id="table-dma" class="table-condensed table-border table-hover" style="display:none">
			<thead>
				<tr class="text-c">
					<th width="100">用户ID</th>
					<th width="100">用户IP</th>
					<th width="100">终端名</th>
					<th width="100">会议号</th>
					<th width="80">会议起始时间</th>
					<th width="80">会议结束时间</th>
					<th width="80">会议时长</th>
				</tr>
			</thead>
			<tbody id="main02">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.operatorId}}</td>
					<td>{{x.ip}}</td>
					<td>{{x.terminalName}}</td>
					<td>{{x.conferenceNumber}}</td>
					<td>{{x.startTime}}</td>
					<td>{{x.endTime}}</td>
					<td>{{x.holdingTime}}</td>
				</tr>
			</tbody>
		</table>
		<table id="table-network" class="table-condensed table-border table-hover" style="display:none">
			<thead>
				<tr class="text-c">
					<th width="100">单位名称</th>
					<th width="100">专线资源</th>
					<th width="100">时间</th>
				</tr>
			</thead>
			<tbody id="main03">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.orgName}}</td>
					<td>{{x.netResource}}</td>
					<td>{{x.holdingTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div page-directive style="margin-top: 10px;"></div>
		<div style="margin-top: 10px; width: 100%;">
		<span class="r"><button name="" id="" class="cr btn btn-primary"type="reset" ng-click="download()" ng-show="count"><i class="Hui-iconfont">&#xe640;</i> 下载</button> &nbsp;&nbsp;</span>
		</div>
</div>
<script type="text/javascript" src="../resources/statement/controller/common.js"></script>
<script type="text/javascript" src="../resources/statement/controller/callListBlackQuery.js"></script>
<script type="text/javascript" src="../skeleton/lib/page-bar.js"></script>
</body>
</html>