<!DOCTYPE HTML>
<html>
<meta name="referrer" content="no-referrer">
<head>
<meta charset="utf-8">
<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<style>
body {
	padding: 10px 20px 10px 10px;
}
table tr {
    height: 34px;
}
</style>

<title>网络专线话单查询</title>
</head>
<body ng-app="netQueryApp" ng-controller="netQueryController" ng-init="url='../rest/queryNetList';p_pernum=10" ng-cloak>
<div style="display: inline-block; width: 100%; text-align: right;">
	<div style="display: inline-block;" ng-show="operatorLevel != 1">单位名称：</div><div style="display: inline-block; margin-right: 10px; min-width:100px;">
		<!-- <input type="text" class="input-text" ng-model="data.orgName"> -->
		<div style="min-width:100px;" ng-show="operatorLevel != 1">
			<div align="left" ng-dropdown-multiselect="" id="org" options="orgs" ng-model="data.selectedOrgIds" selected-model="selectedOrg" extra-settings="orgsSettings" translation-texts="orgTexts"></div>
		</div>
	</div>
	日期：<div style="display: inline-block; margin-right: 10px; width: 19%;">
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}', readOnly:true})" id="beginDate" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="beginDate" onChange="">
			-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}',maxDate:'%y-%M-%d', readOnly:true})" id="endDate" class="input-text Wdate" style="width:45%; cursor: pointer;" ng-model="endDate" onChange="">
	</div>
	<div style="display: inline-block;">
		<span><button ng-click="load_page(1)" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe709;</i>&nbsp;查询</button>&nbsp;</span>
		<span><button type="reset" ng-click="resetBtn()" class="btn btn-primary"><i class="icon Hui-iconfont">&#xe68f;</i>&nbsp;重置</button></span>
	</div>
</div>
<div >
	<div class="mt-15" style="height: 400px; ">
		<table id="table-network" class="table-condensed table-border table-hover">
			<thead>
				<tr class="text-c">
					<th width="100">单位名称</th>
					<th width="100">月份</th>
					<th width="100">费用/(元)</th>
					<th width="100">资费类型</th>
				</tr>
			</thead>
			<tbody id="main03">
				<tr class="text-c" ng-repeat="x in list">
					<td>{{x.orgName}}</td>
					<td>{{x.billMonth}}</td>
					<td>{{x.fee}}</td>
					<td>{{x.feeType}}</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div page-directive style="margin-top: 10px;"></div>
		<div style="margin-top: 10px; width: 100%;">
		<span class="r"><button name="" id="" class="cr btn btn-primary"type="" ng-click="download()" ng-show="count"><i class="Hui-iconfont">&#xe640;</i> 下载</button> &nbsp;&nbsp;</span>
		</div>
</div>

<script type="text/javascript" src="../resources/statement/controller/common.js"></script>
<script type="text/javascript" src="../resources/statement/controller/netQuery.js"></script>
<script type="text/javascript" src="../skeleton/lib/page-bar.js"></script>
</body>
</html>