<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.code.dao.DictTreeDao">

    <resultMap type="com.newland.boss.cib.crmp.code.entity.Dict" id="resourceResultMap">
        <result column="DICT_ID" property="DictId" jdbcType="INTEGER"></result>
        <result column="DICT_NAME" property="DictName" jdbcType="VARCHAR"></result>
        <result column="GROUP_ID" property="GroupId"  jdbcType="INTEGER"></result>

    </resultMap>

    <!-- 下拉框 -->
    <select id="findDictTree" resultMap="resourceResultMap">
        select * from BBF_DICT WHERE GROUP_ID = 10
    </select>
    <select id="showDictTypeTree" resultMap="resourceResultMap">
        select *from BBF_DICT where GROUP_ID =  11
    </select>




</mapper>