<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.admin.dao.OperatorAuthDao">
	<resultMap type="com.newland.boss.kpi.admin.model.OperatorAuth" id="operatorAuthResultMap">
		<id column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<id column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_OPERATOR_ID" property="modifyOperatorId" jdbcType="INTEGER" />
	</resultMap>
	
	<insert id="insertOperatorAuth">
		INSERT INTO T_OPERATOR_AUTH (OPERATOR_ID,RESOURCE_ID,STATUS,CREATE_TIME
			,MODIFY_TIME,MODIFY_OPERATOR_ID)
			VALUES(#{operatorId},#{resourceId},#{status},sysdate
			,#{modifyTime,jdbcType=VARCHAR},#{modifyOperatorId}) 
	</insert>
	
	<!-- 根据操作员ID来寻找资源 -->
	<select id="selectOperatorAuthByOperId" resultMap="operatorAuthResultMap" parameterType="INTEGER">
		SELECT * FROM T_OPERATOR_AUTH WHERE OPERATOR_ID = #{operatorId}
	</select>
	
	<!-- 查出一组操作员资源关系 -->
	<select id="selectAnOperatorAuth" resultMap="operatorAuthResultMap" >
		SELECT * FROM T_OPERATOR_AUTH WHERE OPERATOR_ID = #{operatorId}
			AND RESOURCE_ID = #{resourceId}
	</select>
	
	<!-- 删除一组操作员资源关系 -->
	<delete id="deleteOperatorAuth">
		DELETE FROM T_OPERATOR_AUTH WHERE OPERATOR_ID = #{operatorId}
			AND RESOURCE_ID = #{resourceId}
	</delete>
	
	<!-- 编辑一组操作员资源关系 -->
	<update id="updateOperatorAuth">
		UPDATE T_OPERATOR_AUTH SET RESOURCE_ID = #{newResourceId},STATUS = #{status}
			,MODIFY_TIME = sysdate ,MODIFY_OPERATOR_ID = #{modifyOperatorId} 
    	 	WHERE OPERATOR_ID = #{operatorId} AND RESOURCE_ID = #{resourceId}
	</update>
	
	<!-- 根据操作员ID来删除该操作员下的所有资源 -->
	<delete id="deleteOperAuthByOperatorId">
		DELETE FROM T_OPERATOR_AUTH WHERE OPERATOR_ID = #{operatorId}
	</delete>
	
</mapper>