<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.admin.dao.OrganizationDao">
	
	<resultMap type="com.newland.boss.kpi.entity.Organization" id="organizationResultMap">
		<id column="ORG_ID" property="orgId" jdbcType="INTEGER" />
		<result column="SUPER_ORG_ID" property="superOrgId" jdbcType="INTEGER" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="ORG_STATUS" property="orgStatus" jdbcType="INTEGER" />
		<result column="ORG_DESC" property="orgDesc" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
		<result column="MODIFY_OPERATOR_ID" property="modifyOperatorId" jdbcType="INTEGER" />
		<result column="ORG_NAME_FULL" property="orgNameFull" jdbcType="VARCHAR" />
		<result column="IS_SYNC" property="isSync" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectAllOrganization" resultMap="organizationResultMap">
		SELECT ORG_ID,SUPER_ORG_ID,ORG_NAME,ORG_NAME_FULL,ORG_STATUS,ORG_DESC,TO_CHAR(CREATE_TIME, 'yyyy-mm-dd hh24:mi:ss') as CREATE_TIME,IS_SYNC,MODIFY_OPERATOR_ID,TO_CHAR(MODIFY_TIME, 'yyyy-mm-dd hh24:mi:ss') as MODIFY_TIME FROM T_ORGANIZATION ORDER BY ORG_ID
	</select>
	
	<!-- 添加机构 -->
	<insert id="insertOrganization">
		<selectKey keyProperty="orgId" resultType="int" order="BEFORE"> 
             select SEQ_ORGANIZATION.nextval from dual 
        </selectKey>
		INSERT INTO T_ORGANIZATION (ORG_ID,SUPER_ORG_ID,ORG_NAME,ORG_STATUS,ORG_DESC
			,CREATE_TIME,MODIFY_TIME,MODIFY_OPERATOR_ID, ORG_NAME_FULL, IS_SYNC)
			VALUES(#{orgId},#{superOrgId},#{orgName},#{orgStatus},#{orgDesc,jdbcType=VARCHAR},sysdate
			,#{modifyTime,jdbcType=VARCHAR},#{modifyOperatorId}, #{orgNameFull}, 1)
	</insert>
	
	<!-- 根据id展示一个机构 -->
	<select id="selectOrganizationById" resultMap="organizationResultMap" parameterType="INTEGER">
		SELECT ORG_ID,SUPER_ORG_ID,ORG_NAME,ORG_NAME_FULL,ORG_STATUS,ORG_DESC,TO_CHAR(CREATE_TIME, 'yyyy-mm-dd hh24:mi:ss') as CREATE_TIME,IS_SYNC,MODIFY_OPERATOR_ID,TO_CHAR(MODIFY_TIME, 'yyyy-mm-dd hh24:mi:ss') as MODIFY_TIME FROM T_ORGANIZATION WHERE ORG_ID = #{orgId}
	</select>
	
	<!-- 更新机构信息 -->
	<update id="updateOrganization" parameterType="com.newland.boss.kpi.entity.Organization">
    	 UPDATE T_ORGANIZATION SET ORG_NAME = #{orgName},
    	 	ORG_NAME_FULL = #{orgNameFull},
    	 	ORG_STATUS = #{orgStatus},
    	 	ORG_DESC = #{orgDesc,jdbcType=VARCHAR},
    	 	MODIFY_TIME = sysdate ,
    	 	MODIFY_OPERATOR_ID = #{modifyOperatorId}
    	 WHERE ORG_ID = #{orgId}
    </update>
    
    <!-- 删除机构 -->
    <delete id="deleteOrganization" parameterType="INTEGER">
    	DELETE FROM T_ORGANIZATION WHERE ORG_ID = #{orgId} 
    </delete>
    
    <!-- 模糊搜索机构 -->
    <select id="fuzzySearchOrganization" resultMap="organizationResultMap">
		SELECT ORG_ID,SUPER_ORG_ID,ORG_NAME,ORG_NAME_FULL,ORG_STATUS,ORG_DESC,TO_CHAR(CREATE_TIME, 'yyyy-mm-dd hh24:mi:ss') as CREATE_TIME,IS_SYNC,MODIFY_OPERATOR_ID,TO_CHAR(MODIFY_TIME, 'yyyy-mm-dd hh24:mi:ss') as MODIFY_TIME FROM T_ORGANIZATION WHERE 1=1
		<if test="orgId!=null">
			AND ORG_ID LIKE '%'||#{orgId}||'%'  
		</if>
		<if test="orgName!=null">
			AND ORG_NAME LIKE '%'||#{orgName}||'%'  
		</if>
		<!-- 增加用机构全名搜索 -->
		<if test="orgNameFull != null and orgNameFull != '' ">
			AND ORG_NAME_FULL = #{orgNameFull}  
		</if>
		ORDER BY ORG_ID
	</select>
    
    <select id="selectOrganizationByOrgName" resultMap="organizationResultMap">
    	SELECT ORG_ID,SUPER_ORG_ID,ORG_NAME,ORG_NAME_FULL,ORG_STATUS,ORG_DESC,TO_CHAR(CREATE_TIME, 'yyyy-mm-dd hh24:mi:ss') as CREATE_TIME,IS_SYNC,MODIFY_OPERATOR_ID,TO_CHAR(MODIFY_TIME, 'yyyy-mm-dd hh24:mi:ss') as MODIFY_TIME FROM T_ORGANIZATION WHERE ORG_NAME = #{orgName}
    </select>
    
    <select id="findByFullName" resultMap="organizationResultMap">
    	SELECT * FROM T_ORGANIZATION WHERE ORG_NAME_FULL = #{orgNameFull}
    </select>
    
    <select id="selectHeadOrgInfos" resultMap="organizationResultMap">
    	 SELECT A.*
		  FROM T_ORGANIZATION A
		  JOIN T_ORGANIZATION B
		    ON A.SUPER_ORG_ID = B.ORG_ID
		   AND B.ORG_ID = #{ORGID}
    </select>
    <select id="selectOrgByOperatorId" resultMap="organizationResultMap">
    	SELECT DISTINCT b.ORG_ID,ORG_NAME,SUPER_ORG_ID,ORG_NAME_FULL FROM T_OPERATOR a,T_ORGANIZATION b,
        	T_OPER_ORG_RELA c WHERE a.OPERATOR_ID = c.OPERATOR_ID 
        	AND b.ORG_ID = c.ORG_ID AND a.OPERATOR_ID = #{operatorId}
    </select>
    
    <select id="selectSubLeafBySubRootId" resultMap="organizationResultMap">
   		SELECT * FROM (
    	 	SELECT CONNECT_BY_ISLEAF,a.* FROM t_organization a
 			START WITH a.org_id = #{orgId}
			CONNECT BY PRIOR a.org_id = a.super_org_id order by a.org_id) b
		WHERE b.CONNECT_BY_ISLEAF = 1
    </select>
   	
   	<select id="selectAllRootOrgId" resultMap="organizationResultMap">
    	 SELECT * FROM T_ORGANIZATION A WHERE A.SUPER_ORG_ID = -1 and ORG_STATUS = 0
    </select>
    
</mapper>