<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.settle.dao.RatedCdrDao">

	<resultMap type="com.newland.boss.cib.crmp.domain.RatedCdr" id="RatedCdrResultMap">
		<result column="CDR_ID" property="cdrId" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
		<result column="ORG_NAME_FULL" property="orgName" jdbcType="VARCHAR" />
		<result column="LOGIN_NAME" property="userId" jdbcType="VARCHAR" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="OPERATOR_NAME" property="operatorName" jdbcType="INTEGER" />
		<result column="BILL_MONTH" property="billMonth" jdbcType="INTEGER" />
		<result column="CDR_TYPE" property="cdrType" jdbcType="INTEGER" />
		<result column="REGION" property="region" jdbcType="INTEGER" />
		<result column="CALL_NUMBER" property="callNumber" jdbcType="VARCHAR" />
		<result column="CALLED_NUMBER" property="calledNumber" jdbcType="VARCHAR" />
		<result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
		<result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
		<result column="DURATION" property="holdingTime" jdbcType="INTEGER" />
		<result column="FEE" property="fee" jdbcType="INTEGER" />
		<result column="FILE_NAME" property="fileName" jdbcType="INTEGER" />
		<result column="GUIDING_TIME" property="guidingTime" jdbcType="TIMESTAMP" />
		<result column="FIRST_RATING_TIME" property="firstRatingTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="COUNT" property="count" jdbcType="INTEGER" />
		<result column="CALL_TYPE" property="callType" jdbcType="VARCHAR" />
		<result column="CALL_TYPE_NAME" property="callTypeName" jdbcType="VARCHAR" />
		<result column="TOTAL_FEE" property="totalFee" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询话单详单列表 -->
	<select id="queryCdrCallListResult" resultMap="RatedCdrResultMap">
		select a.cdr_id,a.cdr_flag,a.org_id,a.operator_id,a.bill_month,a.call_number,a.called_number,a.start_time,a.end_time,a.duration,a.fee,a.cdr_type,a.is_passive,
       				   nvl(b.org_name_full,'黑户') org_name_full,
				       nvl(c.operator_name,'黑户') operator_name,
				       nvl(c.login_name,'黑户') login_name,
				       decode(a.is_passive, 1, '被叫', '主叫') call_type_name
                  from ratedcdr a, t_organization b, t_operator c
				 where a.org_id = b.org_id(+)
				   and a.operator_id = c.operator_id(+)
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.operatorLevel == 1">
		and (a.call_num_login=#{req.userLoginName} or a.called_num_login = #{req.userLoginName})
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id)
		</if>
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.loginName != null and req.loginName != ''">
		and (a.call_num_login=#{req.loginName} or a.called_num_login=#{req.loginName})
		</if>
		<if test="req.operatorName != null and req.operatorName != ''">
		and c.operator_name like '%'||#{req.operatorName}||'%'
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '') and (req.billMonth == null or req.billMonth == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		<!-- 按月份查询 -->
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<!-- 按操作员工号查询 -->
		<if test="req.operatorId != null and req.operatorId != ''">
		and a.operator_id = #{req.operatorId, jdbcType=INTEGER}
		</if>
		order by a.start_time
	</select>
	
	<!-- 查询话单详单列表总数 -->
	<select id="queryCdrCallListCount" resultType="INTEGER">
		select count(1) 
		  from ratedcdr a, t_organization b, t_operator c
				 where a.org_id = b.org_id(+)
				   and a.operator_id = c.operator_id(+)
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.operatorLevel == 1">
		and (a.call_num_login=#{req.userLoginName} or a.called_num_login=#{req.userLoginName})
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id)
		</if> 
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.loginName != null and req.loginName != ''">
		and (a.call_num_login=#{req.loginName} or a.called_num_login=#{req.loginName})
		</if>
		<if test="req.operatorName != null and req.operatorName != ''">
		and c.operator_name like '%'||#{req.operatorName}||'%'
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '') and (req.billMonth == null or req.billMonth == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		<!-- 按月份查询 --> 
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<!-- 按操作员工号查询 -->
		<if test="req.operatorId != null and req.operatorId != ''">
		and a.operator_id = #{req.operatorId, jdbcType=INTEGER}
		</if>
		order by a.start_time
	</select>
	
	<!-- 话单详单查询用于Excel下载 -->
	<select id="ratedCdrQuery" resultMap="RatedCdrResultMap">
		select a.cdr_id,a.cdr_flag,a.org_id,a.operator_id,a.bill_month,a.call_number,a.called_number,a.start_time,a.end_time,a.duration,a.fee,a.cdr_type,a.is_passive,
       		   nvl(b.org_name_full,'黑户') org_name_full,
		       nvl(c.operator_name,'黑户') operator_name,
		       nvl(c.login_name,'黑户') login_name,
		       decode(a.is_passive, 1, '被叫', '主叫') call_type_name
		  from ratedcdr a, t_organization b, t_operator c
				 where a.org_id = b.org_id(+)
				   and a.operator_id = c.operator_id(+)
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if> 
		<if test="req.operatorLevel == 1">
		and (a.call_num_login=#{req.userLoginName} or a.called_num_login=#{req.userLoginName})
		</if>
		<if test="req.operatorLevel == 2">
		and a.org_id in (SELECT org_id FROM t_organization 
 			START WITH org_id = #{req.orgId}
			CONNECT BY PRIOR org_id = super_org_id) 
		</if>
		<if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
		</if>
		<if test="req.loginName != null and req.loginName != ''">
		and (a.call_num_login=#{req.loginName} or a.called_num_login=#{req.loginName})
		</if>
		<if test="req.operatorName != null and req.operatorName != ''">
		and c.operator_name like '%'||#{req.operatorName}||'%'
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		order by a.start_time 
	</select>
    
    
	<!-- 查询黑户话单详单列表 -->
	<select id="queryCdrBlackCallListResult" resultMap="RatedCdrResultMap">
		select a.cdr_id,a.cdr_flag,a.org_id,a.operator_id,a.bill_month,a.call_number,a.called_number,a.start_time,a.end_time,a.duration,a.fee,a.cdr_type,a.is_passive,
       				 decode(a.is_passive, 1, '被叫', '主叫') call_type_name from ratedcdr a where a.cdr_flag = 2
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		order by a.start_time
	</select>
	
	<!-- 查询黑户话单详单列表总数 -->
	<select id="queryCdrBlackCallListCount" resultType="INTEGER">
		select count(1) from ratedcdr a where a.cdr_flag = 2 
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		order by a.start_time 
	</select>
	
	<!-- 黑户话单详单查询用于Excel下载 -->
	<select id="ratedCdrBlackQuery" resultMap="RatedCdrResultMap">
		select a.cdr_id,a.cdr_flag,a.org_id,a.operator_id,a.bill_month,a.call_number,a.called_number,a.start_time,a.end_time,a.duration,a.fee,a.cdr_type,a.is_passive,
       				   decode(a.is_passive, 1, '被叫', '主叫') call_type_name from ratedcdr a where a.cdr_flag = 2 
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="req.callNumber != null and req.callNumber != ''">
		and a.call_number = #{req.callNumber}
		</if>
		<if test="req.calledNumber != null and req.calledNumber != ''">
		and a.called_number = #{req.calledNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		order by a.start_time 
	</select>
	
	<!-- 黑户查询 -->
	<select id="queryCdrBlackUsersResult" resultMap="RatedCdrResultMap">
		select <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> call_number,
				       count(*) count,
				       sum(a.fee) fee,
				       a.bill_month,
				       decode(a.is_passive, 1, '被叫', '主叫') call_type_name
				  from ratedcdr a
				 where a.cdr_flag = 2
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test='req.callType == "1" and req.callNumber != null and req.callNumber != ""'>
		and a.call_number = #{req.callNumber}
		</if>
		<if test='req.callType == "2" and req.callNumber != null and req.callNumber != ""'>
		and a.called_number = #{req.callNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		 group by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> ,
		          a.bill_month,
		          a.is_passive
		 order by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> 
	</select> 
	
	<!-- 查询黑户话单详单列表总数 -->
	<select id="queryCdrBlackUsersCount" resultType="INTEGER">
		select count(*) from (select <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if>  call_number,
				       count(*) count,
				       sum(a.fee) fee,
				       a.bill_month,
				       decode(a.is_passive, 1, '被叫', '主叫') call_type_name
				  from ratedcdr a
				 where a.cdr_flag = 2
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test='req.callType == "1" and req.callNumber != null and req.callNumber != ""'>
		and a.call_number = #{req.callNumber}
		</if>
		<if test='req.callType == "2" and req.callNumber != null and req.callNumber != ""'>
		and a.called_number = #{req.callNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		 group by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> ,
		          a.bill_month,
		          a.is_passive
		 order by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> 
		)t
	</select>
	
	<!-- 导出黑户 -->
	<select id="queryAllBlackCdrUser" resultMap="RatedCdrResultMap">
		select <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if>  call_number,
				       count(*) count,
				       sum(a.fee) fee,
				       a.bill_month,
				       decode(a.is_passive, 1, '被叫', '主叫') call_type_name
				  from ratedcdr a
				 where a.cdr_flag = 2
		<if test="req.startBillMonth != null and req.startBillMonth != '' and req.endBillMonth != null and req.endBillMonth != ''">
		and a.bill_month between #{req.startBillMonth, jdbcType=INTEGER} and #{req.endBillMonth, jdbcType=INTEGER}
		</if>
		<if test="req.billMonth != null and req.billMonth != ''">
		and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
		</if>
		<if test="req.endDate != null and req.endDate != ''">
		and a.start_time &lt;= to_date(#{req.endDate}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test='req.callType == "1" and req.callNumber != null and req.callNumber != ""'>
		and a.call_number = #{req.callNumber}
		</if>
		<if test='req.callType == "2" and req.callNumber != null and req.callNumber != ""'>
		and a.called_number = #{req.callNumber}
		</if>
		<if test='req.callType == "1"'>
		and a.is_passive = 0
		</if>
		<if test='req.callType == "2"'>
		and a.is_passive = 1
		</if>
		<if test="req.beginDate != null and req.beginDate != ''">
		and a.start_time &gt;= to_date(#{req.beginDate},'yyyy-MM-dd')
		</if>
		<if test="(req.beginDate == null or req.beginDate == '') and (req.endDate == null or req.endDate == '')">
		and a.start_time &gt;= add_months(sysdate,-1)
		</if>
		 group by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> ,
		          a.bill_month,
		          a.is_passive
		 order by <if test='req.callType == "1"'>a.call_number</if>
          				<if test='req.callType == "2"'>a.called_number</if> 
	</select>
	
	<!-- 黑户用户编辑 黑户统计 -->
	<update id="updateUserInfo">
		update ratedcdr a
		   set a.cdr_flag = 0, a.operator_id = #{req.operatorId,jdbcType=INTEGER}, a.org_id = #{req.orgId}
		   <if test='req.callType == "1"'>,a.call_num_login</if>
		   <if test='req.callType == "2"'>,a.called_num_login</if> = #{req.loginName}
		 where a.bill_month = #{req.billMonth}
		   and <if test='req.callType == "1"'>a.is_passive=0 and a.call_number</if>
          	   <if test='req.callType == "2"'>a.is_passive=1 and a.called_number</if> = #{req.callNumber}
	</update>
	
	<!-- 黑户用户编辑 黑户详单 -->
	<update id="updateUserInfoForDetail">
		update ratedcdr a
		   set a.cdr_flag = 0, a.operator_id = #{req.operatorId,jdbcType=INTEGER}, a.org_id = #{req.orgId}
		   <if test='req.callType == "1"'>,a.call_num_login</if>
		   <if test='req.callType == "2"'>,a.called_num_login</if> = #{req.loginName}
		 where a.bill_month = #{req.billMonth}
		   and a.cdr_id = #{req.cdrId}
	</update>
	
	<insert id="insertSummingSettleTask" parameterType="com.newland.boss.cib.crmp.domain.SummingSettleTask">
        <selectKey keyProperty="taskId" resultType="int" order="BEFORE">
            SELECT seq_summing_settle_task.nextval FROM dual
        </selectKey>
        insert into summing_settle_task
		values
		  (#{taskId},
		   #{billMonth},
		   #{billDay,
		   jdbcType = NUMERIC},
		   #{cdrType},
		   #{taskType},
		   #{taskSrc},
		   #{createTime},
		   #{startTime,
		   jdbcType = TIMESTAMP},
		   #{endTime,
		   jdbcType = TIMESTAMP})
    </insert>
    
    <!-- 查询部门月租费和安装费详情 -->
	<select id="queryOrgMonFeeDetail" resultMap="RatedCdrResultMap">
		 select * from (select t.org_name_full, t.operator_name, t.total_minutes, t.total_fee
		       ,rownum rownu from 
		      (select b.org_name_full, c.operator_name, a.total_minutes, a.total_fee
		      from BILL_SUMMING_USR_DAY a, T_ORGANIZATION b, T_OPERATOR c 
		        where 
		          a.org_id = b.org_id 
		        and a.operator_id = c.operator_id 
            <if test="req.cdrType != null and req.cdrType != ''">
				and a.cdr_type = #{req.cdrType}
			</if>
			<if test="req.feeType != null and req.feeType != ''">
				and a.fee_type = #{req.feeType}
			</if>
            <!-- 按机构查询 -->
            <if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
			</if>
            <!-- 按月份查询 -->
			<if test="req.billMonth != null and req.billMonth != ''">
				and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
			</if>
            order by rownum) t
            where rownum &lt;= #{page} * #{size}) tt where tt.rownu &gt; (#{page} - 1) * #{size}
	</select>
	
	<!-- 查询部门月租费和安装费详情数量 -->
	<select id="queryOrgMonFeeDetailCount" resultType="INTEGER">
		select count(1) from (
		 select * from (select t.org_name_full, t.operator_name, t.total_minutes, t.total_fee
		       ,rownum rownu from 
		      (select b.org_name_full, c.operator_name, a.total_minutes, a.total_fee
		      from BILL_SUMMING_USR_DAY a, T_ORGANIZATION b, T_OPERATOR c 
		        where 
		          a.org_id = b.org_id 
		        and a.operator_id = c.operator_id 
			<if test="req.cdrType != null and req.cdrType != ''">
				and a.cdr_type = #{req.cdrType}
			</if>
			<if test="req.feeType != null and req.feeType != ''">
				and a.fee_type = #{req.feeType}
			</if>
            <!-- 按机构查询 -->
            <if test="req.unitName != null and req.unitName.size() > 0">
			and a.org_id in 
				<foreach item="item" index="index" collection="req.unitName" open="(" separator="," close=")">
        			${item}
  				</foreach>
			</if>
            <!-- 按月份查询 -->
			<if test="req.billMonth != null and req.billMonth != ''">
				and a.bill_month = #{req.billMonth, jdbcType=INTEGER}
			</if>
            order by rownum) t)
            )
	</select>
	
    
    
    <!-- 查询用户loginName -->
	<select id="queryLoginName" parameterType="int" resultType="String">
	select a.login_name from t_operator a where a.operator_id = #{operatorId}
	</select>
</mapper>