<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.dao.RateRuleRelaDao">

	<resultMap type="com.newland.boss.cib.crmp.domain.RateRuleRela"
		id="rateRuleRelaResultMap">
		<id column="RATE_RULE_REAL_ID" property="rateRuleRelaId" jdbcType="INTEGER" />
		<result column="CDR_TYPE" property="cdrType" jdbcType="INTEGER" />
		<result column="OBJECT_TYPE" property="objectType" jdbcType="INTEGER" />
		<result column="OBJECT_ID" property="objectId" jdbcType="INTEGER" />
		<result column="RATE_ITEM_ID" property="rateItemId" jdbcType="INTEGER" />
		<result column="INURE_DATE" property="inureDate" jdbcType="TIMESTAMP" />
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap type="com.newland.boss.cib.crmp.domain.RateRuleRelaView"
		id="rateRuleRelaViewResultMap">
		<id column="RATE_RULE_REAL_ID" property="rateRuleRelaId" jdbcType="INTEGER" />
		<result column="OBJECT_TYPE" property="objectType" jdbcType="INTEGER" />
		<result column="OBJECT_ID" property="objectId" jdbcType="INTEGER" />
		<result column="AOPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="RATE_ITEM_ID" property="rateItemId" jdbcType="INTEGER" />
		<result column="CDR_TYPE" property="cdrType" jdbcType="INTEGER" />
		<result column="RATE_TYPE" property="rateType" jdbcType="INTEGER" />
		<result column="PRIORITY" property="priority" jdbcType="INTEGER" />
		<result column="RATE_RULE_NAME" property="rateRuleName" jdbcType="VARCHAR" />
		<result column="INURE_DATE" property="inureDate" jdbcType="TIMESTAMP" />
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="OPERATOR_ID" property="modifyOperator" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />

	</resultMap>
	
	<resultMap id="ResultOfInteger" type="java.lang.Integer">
         <result column="budget" property="budget" jdbcType="INTEGER" />
    </resultMap>

	<select id="selectRateRuleRela" resultMap="rateRuleRelaResultMap">
		SELECT * FROM RATE_RUlE_RELA WHERE OBJECT_ID=#{objectId} AND RATE_ITEM_ID=#{rateItemId}
	</select>
	<select id="selectRateRuleRelaByRateItemId" resultMap="rateRuleRelaResultMap">
		SELECT * FROM RATE_RUlE_RELA WHERE RATE_ITEM_ID=#{rateItemId}
	</select>

	<!-- 增加一条资费规则分配信息 -->
	<insert id="insertRateRuleRela" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRela">
		<selectKey keyProperty="rateRuleRelaId" resultType="int" order="BEFORE"> 
             select SEQ_RATE_RULE_RELA_ID.nextval from dual 
        </selectKey>
		INSERT INTO RATE_RULE_RELA
		(RATE_RULE_REAL_ID,CDR_TYPE,OBJECT_TYPE,OBJECT_ID,RATE_ITEM_ID,INURE_DATE,
		EXPIRE_DATE,STATUS,OPERATOR_ID,CREATE_DATE)VALUES(#{rateRuleRelaId},#{cdrType},
		#{objectType},#{objectId},#{rateItemId},#{inureDate},#{expireDate},#{status},
		#{operatorId},#{createDate})
	</insert>

	<!-- 删除一条资费规则分配信息 -->
	<delete id="deleteRateRuleRela">
		DELETE FROM RATE_RULE_RELA WHERE RATE_RULE_REAL_ID =
		#{rateRuleRelaId}
	</delete>
	
		<!-- 通过规则ID删除资费规则分配信息 -->
	<delete id="deleteRateRuleRelaByRateItemId">
		DELETE FROM RATE_RULE_RELA WHERE RATE_ITEM_ID =
		#{rateItemId}
	</delete>
	
			<!-- 通过对象ID删除资费规则分配信息 -->
	<delete id="deleteRateRuleRelaByObjectId">
		DELETE FROM RATE_RULE_RELA WHERE OBJECT_ID =
		#{objectId}
	</delete>
	
	<!-- 通过编辑资费规则分配启用状态 -->
	<update id="updateRateRuleRelaStatus" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRela">
		UPDATE RATE_RULE_RELA SET STATUS = #{status}
		WHERE RATE_RULE_REAL_ID= #{rateRuleRelaId}
	</update>
	
	<select id="selectRateRuleRelaByObjectId" resultMap="rateRuleRelaViewResultMap">
	   SELECT * FROM(
		 SELECT * FROM(
		     SELECT R.RATE_RULE_REAL_ID,
             R.OBJECT_TYPE,
             R.OBJECT_ID,
             A.OPERATOR_ID AOPERATOR_ID,
             A.OPERATOR_NAME,
             A.ORG_ID,
             A.ORG_NAME,
             R.RATE_ITEM_ID,
             E.CDR_TYPE,
             E.RATE_RULE_NAME,
             R.STATUS,
             R.INURE_DATE,
             R.EXPIRE_DATE,
             R.OPERATOR_ID,
             R.CREATE_DATE
        FROM (
            SELECT T.OPERATOR_ID,T.OPERATOR_NAME,O.ORG_ID,O.ORG_NAME_FULL ORG_NAME
            FROM T_OPER_ORG_RELA R,T_OPERATOR T,T_ORGANIZATION O
            WHERE R.OPERATOR_ID=T.OPERATOR_ID AND R.ORG_ID=O.ORG_ID AND T.OPERATOR_STATUS=0) A,RATE_RUlE_RELA R,
            RATE_RULE E WHERE R.OBJECT_ID=A.OPERATOR_ID AND R.RATE_ITEM_ID=E.RATE_ITEM_ID
                  AND R.OBJECT_TYPE='2'
         UNION ALL
                SELECT R.RATE_RULE_REAL_ID,R.OBJECT_TYPE,R.OBJECT_ID,NULL AS OPERATOR_ID,NULL AS OPERATOR_NAME,
                       O.ORG_ID,O.ORG_NAME_FULL ORG_NAME,
                       R.RATE_ITEM_ID,E.CDR_TYPE,E.RATE_RULE_NAME,R.STATUS,R.INURE_DATE,R.EXPIRE_DATE,R.OPERATOR_ID,R.CREATE_DATE
                FROM RATE_RULE_RELA R,T_ORGANIZATION O,RATE_RULE E
                WHERE R.OBJECT_ID=O.ORG_ID AND R.RATE_ITEM_ID= E.RATE_ITEM_ID AND R.OBJECT_TYPE='1' AND O.ORG_STATUS = 0)
      WHERE OBJECT_ID = #{objectId}
       <if test="objectType==1">
            UNION ALL
            SELECT 0 RATE_RULE_REAL_ID,
            1 OBJECT_TYPE,
            O.ORG_ID OBJECT_ID,
            NULL AS OPERATOR_ID,
            NULL AS OPERATOR_NAME,
            O.ORG_ID,
            O.ORG_NAME_FULL ORG_NAME,
            A.RATE_ITEM_ID,
            A.CDR_TYPE,
            A.RATE_RULE_NAME,
            A.RATE_STATUS,
            A.INURE_DATE,
            A.EXPIRE_DATE,
            A.OPERATOR_ID,
            A.CREATE_TIME CREATE_DATE  
            FROM RATE_RULE A,T_ORGANIZATION O WHERE A.SCOPE = 1 AND O.ORG_ID=#{objectId}
       </if>
       <if test="objectType==2">
            UNION ALL
            SELECT 0 RATE_RULE_REAL_ID,
            2 OBJECT_TYPE,
            B.OPERATOR_ID OBJECT_ID,
            B.OPERATOR_ID AOPERATOR_ID,
            B.OPERATOR_NAME,
            B.ORG_ID,
            B.ORG_NAME,
            A.RATE_ITEM_ID,
            A.CDR_TYPE,
            A.RATE_RULE_NAME,
            A.RATE_STATUS,
            A.INURE_DATE,
            A.EXPIRE_DATE,
            A.OPERATOR_ID,
            A.CREATE_TIME CREATE_DATE 
            FROM RATE_RULE A,(SELECT  T.OPERATOR_ID,T.OPERATOR_NAME,O.ORG_ID,O.ORG_NAME_FULL ORG_NAME
            FROM T_OPER_ORG_RELA R,T_OPERATOR T,T_ORGANIZATION O
            WHERE R.OPERATOR_ID=T.OPERATOR_ID AND R.ORG_ID=O.ORG_ID AND T.OPERATOR_STATUS=0 AND R.OPERATOR_ID= #{objectId}) B
            WHERE A.SCOPE = 1 AND A.CDR_TYPE IN(1,2,3)
       </if>
       )
      ORDER BY RATE_RULE_REAL_ID
	</select>
	
	
	<select id="selectRateRuleRelaView" resultMap="rateRuleRelaViewResultMap" >
         SELECT * FROM(
             SELECT R.RATE_RULE_REAL_ID,
             R.OBJECT_TYPE,
             A.OPERATOR_ID AOPERATOR_ID,
             A.OPERATOR_NAME,
             A.ORG_ID,
             A.ORG_NAME,
             R.RATE_ITEM_ID,
             E.CDR_TYPE,
             E.RATE_RULE_NAME,
             R.STATUS,
             R.INURE_DATE,
             R.EXPIRE_DATE,
             R.OPERATOR_ID,
             R.CREATE_DATE
        FROM (
            SELECT T.OPERATOR_ID,T.OPERATOR_NAME,O.ORG_ID,O.ORG_NAME_FULL ORG_NAME
            FROM T_OPER_ORG_RELA R,T_OPERATOR T,T_ORGANIZATION O
            WHERE R.OPERATOR_ID=T.OPERATOR_ID AND R.ORG_ID=O.ORG_ID AND T.OPERATOR_STATUS=0) A,RATE_RUlE_RELA R,
            RATE_RULE E WHERE R.OBJECT_ID=A.OPERATOR_ID AND R.RATE_ITEM_ID=E.RATE_ITEM_ID
                  AND R.OBJECT_TYPE='2'
         UNION ALL
                SELECT R.RATE_RULE_REAL_ID,R.OBJECT_TYPE,NULL AS OPERATOR_ID,NULL AS OPERATOR_NAME,
                       O.ORG_ID,O.ORG_NAME_FULL ORG_NAME,
                       R.RATE_ITEM_ID,E.CDR_TYPE,E.RATE_RULE_NAME,R.STATUS,R.INURE_DATE,R.EXPIRE_DATE,R.OPERATOR_ID,R.CREATE_DATE
                FROM RATE_RULE_RELA R,T_ORGANIZATION O,RATE_RULE E
                WHERE R.OBJECT_ID=O.ORG_ID AND R.RATE_ITEM_ID= E.RATE_ITEM_ID AND R.OBJECT_TYPE='1' AND O.ORG_STATUS = 0)
      WHERE 1=1
         <if test="rateRuleRelaView.operatorName!=null and rateRuleRelaView.operatorName!=''"  >and OPERATOR_NAME LIKE '%'||#{rateRuleRelaView.operatorName}||'%'</if>
         <if test="rateRuleRelaView.rateRuleName!=null and rateRuleRelaView.rateRuleName!=''">and RATE_RULE_NAME LIKE '%'||#{rateRuleRelaView.rateRuleName}||'%' ESCAPE '/' </if>
        <if test="rateRuleRelaView.inureDate!=null">
            AND INURE_DATE &gt;= #{rateRuleRelaView.inureDate}  
        </if>
        <if test="rateRuleRelaView.expireDate!=null">
            AND EXPIRE_DATE  &lt;=  #{rateRuleRelaView.expireDate}  
        </if>
         <if test="rateRuleRelaView.status!=null and rateRuleRelaView.status!=''">and STATUS = #{rateRuleRelaView.status}</if>
        <if test="orgIdList!=null and orgIdList.length>0">
        AND ORG_ID IN
        <foreach collection="orgIdList" item="item" index="index" open="(" close=")"  separator=",">  
               #{item}
        </foreach>
        </if>
      ORDER BY RATE_RULE_REAL_ID
    </select>
    
    <!-- 同类规则时间校验 -->
    <select id="selectRuleRelaCross" resultMap="rateRuleRelaResultMap" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRelaView">
        SELECT A.RATE_RULE_REAL_ID,A.CDR_TYPE,A.OBJECT_TYPE,
               A.OBJECT_ID,A.RATE_ITEM_ID,A.INURE_DATE,
               A.EXPIRE_DATE,A.STATUS,A.OPERATOR_ID,A.CREATE_DATE 
        FROM RATE_RULE_RELA A,RATE_RULE B
        WHERE A.RATE_ITEM_ID=B.RATE_ITEM_ID AND A.CDR_TYPE=#{cdrType} AND B.RATE_TYPE=#{rateType} AND A.OBJECT_ID= #{objectId}
        AND <![CDATA[ A.RATE_ITEM_ID <> #{rateItemId} ]]> AND A.CDR_TYPE IN (1,2,3)
        AND(
       (#{inureDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE) 
       OR( #{expireDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE)
       OR(#{inureDate}&lt;A.INURE_DATE AND #{expireDate}&gt;=A.EXPIRE_DATE))
    </select>
    
    <!-- 同类周期规则高优先级校验 -->
    <select id="selectRuleRelaHeight" resultMap="rateRuleRelaResultMap" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRelaView">
        SELECT A.RATE_RULE_REAL_ID,A.CDR_TYPE,A.OBJECT_TYPE,
               A.OBJECT_ID,A.RATE_ITEM_ID,A.INURE_DATE,
               A.EXPIRE_DATE,A.STATUS,A.OPERATOR_ID,A.CREATE_DATE 
        FROM RATE_RULE_RELA A,RATE_RULE B
        WHERE A.RATE_ITEM_ID=B.RATE_ITEM_ID AND A.CDR_TYPE=#{cdrType} AND B.PRIORITY&lt;2 AND B.PRIORITY&gt;#{priority} AND A.OBJECT_ID= #{objectId}
        AND A.CDR_TYPE IN (1,2,3)
        AND(
       (#{inureDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE) 
       OR( #{expireDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE)
       OR(#{inureDate}&lt;A.INURE_DATE AND #{expireDate}&gt;=A.EXPIRE_DATE))
    </select>
    
    <!-- 同类周期规则低优先级校验 -->
    <select id="selectRuleRelalow" resultMap="rateRuleRelaResultMap" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRelaView">
        SELECT A.RATE_RULE_REAL_ID,A.CDR_TYPE,A.OBJECT_TYPE,
               A.OBJECT_ID,A.RATE_ITEM_ID,A.INURE_DATE,
               A.EXPIRE_DATE,A.STATUS,A.OPERATOR_ID,A.CREATE_DATE 
        FROM RATE_RULE_RELA A,RATE_RULE B
        WHERE A.RATE_ITEM_ID=B.RATE_ITEM_ID AND A.CDR_TYPE=#{cdrType} AND B.PRIORITY&gt;2 AND B.PRIORITY&lt;#{priority} AND A.OBJECT_ID= #{objectId}
        AND A.CDR_TYPE IN (1,2,3)
        AND(
       (#{inureDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE) 
       OR( #{expireDate}BETWEEN A.INURE_DATE AND A.EXPIRE_DATE)
       OR(#{inureDate}&lt;A.INURE_DATE AND #{expireDate}&gt;=A.EXPIRE_DATE))
    </select>
    
    <!-- 至规则失效 -->
    <update id="updateRateRuleRelaToLose" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRela">
        UPDATE RATE_RULE_RELA SET EXPIRE_DATE = #{expireDate}
        WHERE RATE_RULE_REAL_ID= #{rateRuleRelaId}
    </update>
    
    <!-- 通过编辑资费规则分配启用状态 -->
    <update id="updateRateRuleRelaDate" parameterType="com.newland.boss.cib.crmp.domain.RateRuleRela">
        UPDATE RATE_RULE_RELA SET EXPIRE_DATE = #{expireDate},INURE_DATE = #{inureDate}
        WHERE RATE_ITEM_ID = #{rateItemId}
    </update>
</mapper>