<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.dao.ResRoleDao">
	
	<resultMap type="com.newland.boss.kpi.entity.ResourceRole" id="resourceRoleResultMap">
		<result column="RESOURCE_URL" property="resourceUrl" jdbcType="VARCHAR"/>
		<result column="ROLE_ALIAS" property="roleAlias" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查找url对应的角色 -->
	<select id="selectRoleAliasByResourceUrl" resultMap="resourceRoleResultMap">
		SELECT b.RESOURCE_URL, a.ROLE_ID, c.ROLE_ALIAS 
			FROM T_ROLE_AUTH a, T_RESOURCE b, T_ROLE c
			WHERE a.RESOURCE_ID = b.RESOURCE_ID
			AND a.ROLE_ID = c.ROLE_ID ORDER BY RESOURCE_URL
	</select>

</mapper>