<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.cib.crmp.dao.SpecialRateOperateDao">

	<resultMap type="com.newland.boss.cib.crmp.domain.SpecialRateOperate" id="specialRateOperateMap">
		<id column="OPERATE_ID" property="operateId" jdbcType="INTEGER" />
		<result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
		<result column="OPERATE_TITLE" property="operateTitle" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.newland.boss.cib.crmp.domain.SpecialRateOperateResp" id="specialRateOperateRespMap">
		<id column="OPERATE_ID" property="operateId" jdbcType="INTEGER" />
		<result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 增加一条工单记录 -->
	<insert id="insertSpecialRateOperate" parameterType="com.newland.boss.cib.crmp.domain.SpecialRateOperate">
		<selectKey keyProperty="operateId" resultType="int" order="BEFORE"> 
             SELECT SPECIAL_RATE_OPERATE_ID.NEXTVAL FROM DUAL 
        </selectKey>
		INSERT INTO SPECIAL_RATE_OPERATE (OPERATE_ID, FILE_NAME, STATUS,OPERATOR_ID, CREATE_TIME, LOGIN_NAME, OPERATE_TITLE)
       		VALUES(#{operateId}, #{fileName}, #{status}, #{operatorId}, sysdate, 
       		#{loginName, jdbcType=VARCHAR}, #{operateTitle, jdbcType=VARCHAR})
	</insert>
	
	<!-- 查找所有工单记录 -->
	<select id="selectAllSpecialRateOperate" resultMap="specialRateOperateMap">
		SELECT * FROM SPECIAL_RATE_OPERATE ORDER BY OPERATE_ID
	</select>
	
	<!-- 查找工单记录以及对应的操作员名称 -->
	<select id="selectAllSpecialRateOperateResp" resultMap="specialRateOperateRespMap">
		SELECT OPERATE_ID, FILE_NAME, STATUS, b.OPERATOR_NAME, a.CREATE_TIME, OPERATE_TITLE 
	        FROM SPECIAL_RATE_OPERATE a, T_OPERATOR b 
	        WHERE a.OPERATOR_ID = b.OPERATOR_ID
	        ORDER BY OPERATE_ID
	</select>

</mapper>