<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newland.boss.kpi.dao.UserRoleDao">

	<resultMap type="com.newland.boss.kpi.entity.Role" id="roleResultMap">
		<id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
		<result column="ROLE_ALIAS" property="roleAlias" jdbcType="VARCHAR" />
		<result column="ROLE_STATUS" property="roleStatus" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="selectRoleByOperatorId" resultMap="roleResultMap" parameterType="INTEGER">
		SELECT a.ROLE_ID, ROLE_NAME, ROLE_ALIAS, ROLE_STATUS
		   FROM T_OPERATOR_ROLE a, T_ROLE b
		WHERE a.ROLE_ID = b.ROLE_ID
		   AND b.ROLE_STATUS = 0
		   AND a.OPERATOR_ID = #{operatorId}
		UNION
		SELECT a.ROLE_ID, ROLE_NAME, ROLE_ALIAS, ROLE_STATUS
		   FROM T_ROLE a
		WHERE ROLE_ID in(9998,9999)	
	</select>


</mapper>