*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

h1{
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

.light{
  margin-bottom: 25px;
  border-collapse: collapse;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.light th,
.light td{
  border: 1px solid #d0d0d0;
  padding: 10px;
  text-align: center;
}
.light td{
  height: 32px;
}

.light tr.checked td{
  background-color: rgba(230, 47, 47,.1) !important;
}

.light tbody tr:nth-child(odd) td{
  background-color: #f0f0f0;
}

.btn{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;/*轮廓线*/
}

.form-control{
  box-sizing: border-box;
  width:100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #d0d0d0;
  padding: 6px 10px;
  border-radius: 4px;
  outline: none;
}
.form-control:focus{
  border-color: #9a9a9a;
}

.btn-primary,
.pager button.active{
  background-color: rgb(47, 90, 230);
  color: white;
  border: none;
}

.btn-danger{
  background-color: rgb(230, 47, 47);
  color: white;
  border: none;
}

.btn:hover{
  border-color: #9a9a9a;
}


.pager button{
  margin: 0 5px;
  border: 1px solid #d0d0d0;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.pager button[disabled]{
  opacity: .6;
  border-color: #d0d0d0 !important;
  cursor: not-allowed;
}

.pager button:hover{
  border-color: #9a9a9a;
}

.tools{
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.tools .btn{
  margin-right: 10px;
}
.tools .form-control{
  width: 240px;
}

.checkbox{
  display: inline-block;
}
.checkbox input{
  display: none;
}
.checkbox span{
  position: relative;
  display: block;
  border: 1px solid #d0d0d0;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}
.checkbox:hover span{
  border-color: #9a9a9a;
}
.checkbox input:checked + span{
  border-color: rgb(230, 47, 47);
  color: rgb(230, 47, 47);
}
.checkbox input:checked + span::before{
  position: absolute;
  content: "✔";
  top: -3px;
  left: 2px;
}


