<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="RateRuleDistribute">
<meta name="referrer" content="no-referrer">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>资费规则分配页面</title>

<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<script type="text/javascript" src="../resources/statement/controller/common.js"></script>
<script type="text/javascript" src="../resources/rule/controller/rateRuleDistribute.js"></script>
<style type="text/css">
html {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0px auto;
}

.modal {
	background-color: rgba(102, 102, 102, 0.85);
}

.container {
	margin-top: 10px;
	width: 830px;
	box-shadow: 0 0 20px #888888;
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
}

.ng-isolate-scope {
	float: left;
}

.ng-isolate-scope {
	float: left;
	margin-top: 10px;
}

.table-border td, .table-border th {
	width: auto;
}
.nav>li>a {
    padding: 5px 15px;
}
</style>
</head>
<body ng-controller="RateRuleDistributeCtrl as rrdc"
	style="width: 100%; height: 100%" ng-cloak>
	<div class="am-tabs" data-am-tabs style="width: 100%; height: 100%">

		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">资费规则关系查询</a></li>
			<li><a href="#tab2" data-toggle="tab">资费规则配置分配</a></li>
			<li><a href="#tab3" data-toggle="tab">资费规则多单位分配</a></li>
		</ul>

		<div id="myTabContent" class="tab-content"
			style="width: 100%; height: 90%">

			<div style="width: 100%; height: 100%;padding-right: 10px;"
				class="tab-pane fade in active" id="tab1">
				<div style="width: 100%; height: 100%">
					<div
						style="display: inline-block; width: 100%; text-align: right; padding-bottom: 5px;padding-top: 10px;">
						<!-- 资费名称、资费类型、启用状态、规则生失效日期 -->
						单位名称:
                        <div class="form-group" style="display: inline-block; margin-right: 10px;min-width:120px;;height: 13px;">
                             <div align="left" ng-dropdown-multiselect="" id="org" options="orgs" selected-model="selectedOrg" extra-settings="orgsSettings" translation-texts="orgTexts"></div>
                        </div>
						 <!--员工姓名:
						<div
							style="display: inline-block; margin-right: 10px; width: 8%;">
							<input type="text" class="input-text" ng-model="searchRela.operatorName" maxlength="32">
						</div> -->
						资费规则名称:
						<div
							style="display: inline-block; margin-right: 10px; width: 8%;">
							<input type="text"  class="input-text" ng-model="searchRela.rateRuleName" maxlength="32">
						</div>
						规则状态:
						<div
							style="display: inline-block; margin-right: 10px; width: 8%;">
							<select class="input-text" placeholder="" ng-model="searchRela.status">
								<option value="" selected="selected">全部</option>
								<option ng-repeat="statusTypeObj in statusTypes"
									value="{{statusTypeObj.entryId}}">{{statusTypeObj.entryName}}</option>
							</select>
						</div>
						生失效时间:
						<div
							style="display: inline-block; margin-right: 10px; width: 20%;">
							<input type="text"  ng-model="searchRela.inureDate"  onChange=""
								onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'searchlogmax\')}'&&'3000-01-01'})"
								id="searchlogmin" class="input-text Wdate"
								style="width: 45%;"> - <input
								type="text" ng-model="searchRela.expireDate" onChange=""
								onfocus="WdatePicker({minDate:'#F{$dp.$D(\'searchlogmin\')}',maxDate:'3000-01-01'})"
								id="searchlogmax" class="input-text Wdate"
								style="width: 45%;">
						</div>
						<div style="display: inline-block; margin-right: 5px; width: 10%;">
							<button class="btn btn-primary search-btn" type="button"
								ng-click="searchRateRuleRela()"><i class="Hui-iconfont">&#xe665;</i>查询</button>
							<button class="btn btn-primary search-btn" type="button"
								ng-click="reset()"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
						</div>
					</div>

					<div style="width: 100%;">
						<table ng-table="rrdc.tableParams"
							class="table-condensed table-border table-hover"
							style="margin-top: 2px; margin-left: 3px">
							<tr ng-repeat="rateRuleRela in $data"
								ng-click="selectOneRule(rateRuleRela)">
								<td title="'单位名称'" style="height:30px;">{{rateRuleRela.orgName}}</td>
								<!-- 
								<td title="'员工姓名'">{{rateRuleRela.operatorName==undefined?(rateRuleRela.orgName==undefined?rateRuleRela.operatorName:"---"):rateRuleRela.operatorName}}</td>
								<td title="'员工ID'" sortable="'operatorID'">{{rateRuleRela.operatorId==undefined?(rateRuleRela.orgName==undefined?rateRuleRela.operatorId:"-------"):rateRuleRela.operatorId}}</td>
								 -->
								<td title="'资费规则名称'">{{rateRuleRela.rateRuleName}}</td>
								<td title="'启用状态'"><span ng-repeat="statusType in statusTypes" ng-if="statusType.entryId == rateRuleRela.status">{{statusType.entryName}}</span></td>
								<td title="'生效时间'">{{rateRuleRela.inureDate|
									date:'yyyy-MM-dd'}}</td>
								<td title="'失效时间'">{{rateRuleRela.expireDate|
									date:'yyyy-MM-dd'}}</td>
								<td title="'资费规则ID'">{{rateRuleRela.rateItemId}}</td>
							</tr>
						</table>
					</div>
					<div style="float: right; margin-top: 10px;">
							<button class="btn btn-primary"
								data-toggle="modal" ng-click="ruleRelaExport()"><i class="Hui-iconfont">&#xe644;</i>导出</button>
					</div>
				</div>
			</div>

			<div style="height: 100%" class="tab-pane fade" id="tab2">
				<div style="width: 26%; height: 100%;margin-top: 10px;" class="am-align-left">
					<div  id="orgTree"
						style="width: 100%; height: 100%; border: 1px solid #ccc !important; padding: 14px;">
						<div class="form-group">
							过滤条件：<input type="text" id="predicate" class="input-text" ng-model="predicate" style="width:42%">
							<button class="btn btn-primary" type="button" ng-click="resetFilter()" style="margin-left:5px;float:right"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
						</div>
						
						<treecontrol class="tree-classic"
							style="width: 100%;height: 90%;overflow-y: scroll;"
						    tree-model="treedata"
						    filter-expression="predicate" 	
						    expanded-nodes=""
						     options="treeOptions"
							on-selection="showSelected(node)"
							> {{node.orgNameFull}}
						 </treecontrol>
					</div>
					<!--<div  id="childOrg"
                        style="width: 100%; height: 0%; margin-top: 10px; margin-left: 1px;">
                        <div class="gridTable">
                            <div>
                                <table ng-table="rrdc.tableParams6"
                                    class="table-condensed table-border table-hover">
                                    <tr ng-repeat="org in $data"
                                        ng-click="searchChildOrgRela(org)">
                                        <td style="height:30px;width:38px"><input type="checkbox" ng-if="org.orgId"
                                        id="{{org.orgId}}" ng-checked="isChildOrgSelected(org)"
                                        style="margin-top: 3px;"></td>
                                        <td title="'机构编号'" style="height:30px;">{{org.orgId}}</td>
                                        <td title="'单位名称'" >{{org.orgName}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>-->
					<!-- <div
						style="width: 100%; height: 45%; margin-top: 10px; margin-left: 1px;">
						<div class="gridTable" style="width: 100%; height: 96%;overflow-y: scroll;overflow-x:hidden">
								<table ng-table="rrdc.tableParams2"
									class="table-condensed table-border table-hover">
									<tr ng-repeat="operator in $data"
										ng-click="selectOperatorRuleRela(operator)">
                                        <td><input type="checkbox" ng-checked="isOperatorSelected(operator)"
                                            id="{{operator.operatorId}}" ng-if="operator.operatorId"></td>
										<td title="'notes登录名'" sortable="'loginName'" filter="{loginName: 'text'}" style="height:30px;">{{operator.loginName}}</td>
										<td title="'员工姓名'" sortable="'operatorName'" filter="{operatorName: 'text'}">{{operator.operatorName}}</td>
									</tr>
								</table>
						</div>
					</div>-->
				</div> 

				<div style="width: 71%; height: 100%" class="am-align-left">
					<div style="width: 100%; height: 45%;">
						<div style="width: 100%; height: 15%;padding-top: 10px;">
							<span style="font-weight: bold">已分配规则</span>
							<div style="float: right;">
								<button class="btn btn-primary " ng-click="startUsing()">
									<i class="Hui-iconfont">&#xe615;</i>启用
								</button>
								<button class="btn btn-primary " ng-click="forbidden()">
									<i class="Hui-iconfont">&#xe631;</i>禁用
								</button>
							</div>
						</div>
						<div style="width: 100%; height: 80%; overflow-y: scroll;overflow-x:hidden">
							<table ng-table="rrdc.tableParams3"
								class="table-condensed table-border table-hover"
								style="margin-top: 2px; margin-left: 3px">
								<tr ng-repeat="rateRuleRela in $data" ng-model="relaSelected" name="relaInfo" ng-click="selectARela(rateRuleRela.rateRuleRelaId)">
									<td style="height:30px;width:38px"><input type="checkbox" ng-if="rateRuleRela.rateRuleRelaId"
										id="{{rateRuleRela.rateRuleRelaId}}" ng-checked="isRelaSelected(rateRuleRela.rateRuleRelaId)"
										style="margin-top: 3px;"></td>
									<td title="'单位名称'">{{rateRuleRela.orgName}}</td>
									<!-- <td title="'员工姓名'">{{rateRuleRela.operatorName==undefined?(rateRuleRela.orgName==undefined?rateRuleRela.operatorName:"---"):rateRuleRela.operatorName}}</td>
									<td title="'员工ID'">{{rateRuleRela.operatorId==undefined?(rateRuleRela.orgName==undefined?rateRuleRela.operatorId:"-------"):rateRuleRela.operatorId}}</td>
									 -->
									<td title="'资费规则名称'">{{rateRuleRela.rateRuleName}}</td>
									<td title="'启用状态'"><span ng-repeat="statusType in statusTypes" ng-if="statusType.entryId == rateRuleRela.status">{{statusType.entryName}}</span></td>
									<td title="'资费生效时间'">{{rateRuleRela.inureDate|date:'yyyy-MM-dd'}}</td>
									<td title="'资费失效时间'">{{rateRuleRela.expireDate|date:'yyyy-MM-dd'}}</td>
								</tr>
							</table>
						</div>
					</div>
					<div style="width: 100%; height: 5%;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;">
						<a href="##"
							class="am-icon-angle-double-down am-icon-md am-primary"
							style="width: 49%; height: 100%; text-align: center;border-right: 1px solid #ccc;"
							ng-click="deleteRateRuleRela()"></a> <a href="##"
							class="am-icon-angle-double-up am-icon-md am-primary"
							style="width: 49%; height: 100%; text-align: center"
							ng-click="addRateRuleRela()"></a>
					</div>
					<div style="width: 100%; height: 45%;">
							<span style="font-weight: bold">可分配规则</span>
						<div
							style="display: inline-block; width: 100%; text-align: right; padding-bottom: 5px; padding-top: 5px">
							资费规则名称:
							<div
								style="display: inline-block; margin-right: 10px; width: 9%; height: 24px;">
								<input type="text" class="input-text"
									ng-model="selectRule.rateRuleName" maxlength="32">
							</div>
							资源类型:
							<div
								style="display: inline-block; margin-right: 10px; width: 9%; height: 24px;">
								<select class="input-text" ng-model="selectRule.cdrType">
									<option value="">全部</option>
									<option ng-repeat="feeTypeObj in feeTypes"
										value="{{feeTypeObj.entryId}}">{{feeTypeObj.entryName}}</option>
								</select>
							</div>
							生失效时间:
							<div
								style="display: inline-block;width: 28%; height: 24px;">
								<input type="text" ng-model="selectRule.inureDate" onChange=""
									onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'searchrulelogmax\')}'&&'3000-01-01'})"
									id="searchrulelogmin" class="input-text Wdate" style="width: 45%;"> - <input
									type="text" ng-model="selectRule.expireDate" onChange=""
									onfocus="WdatePicker({minDate:'#F{$dp.$D(\'searchrulelogmin\')||\'new Date()\'}',maxDate:'3000-01-01'})"
									id="searchrulelogmax" class="input-text Wdate"
									style="width: 45%;">
							</div>
							<div style="display: inline-block;">
								<button class="btn btn-primary " style="margin-left: 10px;"
									type="button" ng-click="searchCostRule()">
									<i class="Hui-iconfont">&#xe665;</i>查询
								</button>
								<button class="btn btn-primary" type="button"
									ng-click="resetSearch()">
									<i class="Hui-iconfont">&#xe68f;</i> 重置
								</button>
							</div>
						</div>
						<div style="width:100%;height:80%;overflow-y: scroll;overflow-x:hidden">
							<table ng-table="rrdc.tableParams4"
								class="table-condensed table-border table-hover"
								style="margin-top: 2px; margin-left: 3px;">
								<tr ng-repeat="rateRule in $data" ng-model="ruleSelected" name="ruleInfo" ng-click="selectARule(rateRule)">
									<td style="height:30px;width:38px"><input type="checkbox"
										id="{{rateRule.rateItemId}}" ng-checked="isRuleSelected(rateRule)" ng-if="rateRule.scope!=1 && rateRule.scope!=undefined"
										style="margin-top: 3px;"></td>
									<td title="'资费规则ID'">{{rateRule.rateItemId}}</td>
									<td title="'资费规则名称'">{{rateRule.rateRuleName}}</td>
									<td title="'资源类型'"><span
										ng-repeat="fee in feeTypes" ng-if="fee.entryId == rateRule.cdrType">{{fee.entryName}}</span></td>
									<td title="'资费类型'"><span
                                        ng-repeat="ratetype in rateTypes" ng-if="ratetype.entryId == rateRule.rateType">{{ratetype.entryName}}</span></td>
                                    <td title="'规则使用范围'"><span
                                        ng-repeat="scopeType in scopeTypes" ng-if="scopeType.entryId == rateRule.scope">{{scopeType.entryName}}</span></td>
									<td title="'生效时间'">{{rateRule.inureDate|date:'yyyy-MM-dd'}}</td>
									<td title="'失效时间'">{{rateRule.expireDate|date:'yyyy-MM-dd'}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
				<div style="height: 100%" class="tab-pane fade" id="tab3">

					<div style="width: 71%; height: 100%" class="am-align-left">
						<div style="width: 100%; height: 100%;">
							<div
								style="display: inline-block; width: 100%; text-align: right; padding-bottom: 5px; padding-top: 5px">
								资费规则名称:
								<div
									style="display: inline-block; margin-right: 10px; width: 10%; height: 24px;">
									<input type="text" class="input-text"
										ng-model="queryRule.rateRuleName">
								</div>
								资源类型:
								<div
									style="display: inline-block; margin-right: 10px; width: 10%; height: 24px;">
									<select class="input-text" ng-model="queryRule.cdrType">
										<option value="">全部</option>
										<option ng-repeat="feeTypeObj in feeTypes"
											value="{{feeTypeObj.entryId}}">{{feeTypeObj.entryName}}</option>
									</select>
								</div>
								生失效时间:
								<div
									style="display: inline-block; margin-right: 10px; width: 29%; height: 24px;">
									<input type="text" ng-model="queryRule.inureDate" onChange=""
										onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'startlogmax\')}'&&'3000-01-01'})"
										id="startlogmin" class="input-text Wdate" style="width:45%;">
									- <input type="text" ng-model="queryRule.expireDate" onChange=""
										onfocus="WdatePicker({minDate:'#F{$dp.$D(\'startlogmin\')||\'new Date()\'}',maxDate:'3000-01-01'})"
										id="startlogmax" class="input-text Wdate" style="width:45%;">
								</div>
								<div style="display: inline-block;">
									<button class="btn btn-primary search-btn btn-sm" type="button"
										ng-click="queryRuleByParam()">
										<i class="Hui-iconfont">&#xe709;</i>&nbsp;查询
									</button>
									<button class="btn btn-primary search-btn btn-sm" type="button"
										ng-click="resetStartRule()">
										<i class="Hui-iconfont">&#xe68f;</i>&nbsp;重置
									</button>
								</div>
							</div>
							<div
								style="margin-top: 5px; height: 80%;">
								<table ng-table="rrdc.tableParams5"
									class="table-condensed table-border table-hover">
									<tr ng-repeat="rule in  $data" ng-model="startRuleInfos"
										ng-click="selectStartRule(rule)">
										<td style="height:30px;width:38px"><input type="checkbox" ng-checked="isSelected(rule)"
											id="{{rule.rateItemId}}" ng-if="rule.scope!=1 && rule.scope!=undefined"></td>
										<td title="'资费规则ID'">{{rule.rateItemId}}</td>
										<td title="'资费规则名称'">{{rule.rateRuleName}}</td>
										<td title="'资源类型'"><span
											ng-repeat="fee in feeTypes" ng-if="fee.entryId == rule.cdrType">{{fee.entryName}}</span></td>
										<td title="'资费类型'"><span
                                            ng-repeat="ratetype in rateTypes" ng-if="ratetype.entryId == rule.rateType">{{ratetype.entryName}}</span></td>
                                        <td title="'规则使用范围'"><span
                                            ng-repeat="scopeType in scopeTypes" ng-if="scopeType.entryId == rule.scope">{{scopeType.entryName}}</span></td>
										<td title="'生效时间'">{{rule.inureDate
											| date:'yyyy-MM-dd' }}</td>
										<td title="'失效时间'">{{rule.expireDate
											| date:'yyyy-MM-dd'}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					
					<div style="width: 26%; height: 100%;" class="am-align-left">
						<div
							style="width: 100%; height: 75%; margin: 10px 5px; border: 1px solid #ccc !important; padding: 14px;overflow-y: scroll;">
							     <div class="form-group">
                                                                                    过滤条件：<input type="text" id="predicate2" class="input-text" ng-model="predicate2" style="width:42%">
                                           <button class="btn btn-primary" type="button" ng-click="resetFilter2()" style="margin-left:5px;float:right"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
                                 </div>
							
							<treecontrol class="tree-classic"
								style="width: 100%;height: 100%;margin-top:0px;"
								tree-model="orgTree" selected-nodes="nodes" filter-expression="predicate2"
								expanded-nodes="" options="ruleOrgTreeOptions"
								on-selection="">
							{{node.orgNameFull}} </treecontrol>
						</div>
						<div div style="width: 100%; height: 25%;text-align: right;">
	        				<button class="btn btn-primary" ng-click="updateRuleRela()"><i class="Hui-iconfont">&#xe60c;</i> 分配</button>
	        				<button class="btn btn-primary" ng-click="cancelSelected()"><i class="Hui-iconfont">&#xe6a6;</i> 取消</button>
	    				</div>
					</div>
				</div>
			
		</div>
	</div>

</body>
</html>