<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="showAppConfig">
<head>
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>配置管理页面</title>
    <script src="../skeleton/includeJs_3rd.js"></script>
    <script src="../skeleton/includeCss_3rd.js"></script>
    <style type="text/css">
        .blankDiv {
            margin-right: 20px;
            display: inline;
        }
        .null_tr {
            height: 30.2px;
        }
    </style>
</head>

<body ng-controller="showAppController as roleCtrl" style="padding-right: 10px;" ng-cloak>

<div class="form-inline" align="right">
    <label for="dept">系统名称：</label>
    <div style="display: inline-block; margin-right: 10px; width: 10%;">
        <select class="input-text" style="cursor: pointer;" ng-model="systemId">
            <option ng-repeat="dict in dictList" value="{{dict.DictId}}">{{dict.DictName}}</option>
        </select>
    </div>
    <div class="blankDiv"></div>
    <label for="dept">APP名称：</label>
    <div class="form-group">
        <input type="text" class="input-text" ng-model="appName">
    </div>
    <div class="blankDiv"></div>
    <label for="dept">APP实例名称：</label>
    <div class="form-group">
        <input type="text" class="input-text" ng-model="appInstanceName">
    </div>
    <div class="blankDiv"></div>
    <div class="form-group">
        <button class="btn btn-primary" type="button" ng-click="searchRole()"><i class="Hui-iconfont">&#xe709;</i> 查询</button>
        <button class="btn btn-primary" type="button" ng-click="resetSearch()"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
    </div>
</div>
<div style="margin-top: 20px;">
    <table ng-table="roleCtrl.tableParams" class="table-condensed table-border table-hover" style="margin-bottom: 10px;">

        <tr ng-repeat="config in $data" ng-model="roleInfos"  ng-class="config.isNull">
            <td data-title="'系统编号'">{{config.systemId}}</td>
            <td data-title="'系统名称'">{{config.systemName}}</td>
            <td data-title="'应用名称'">{{config.appName}}</td>
            <td data-title="'应用实例名'">{{config.appInsName}}</td>
            <td data-title="'主机'">{{config.host}}</td>
            <td data-title="'最近拉取'">{{config.lastPullTime}}</td>
            <td data-title="'最新推送'">{{config.lastPushTime}}</td>
            <td data-title="'心跳'">{{config.lastHeartBeatTime}}</td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="../resources/code/controller/showConfigApp.js"></script>
</body>
</html>