<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="mangeOperRole">
<head>
	<meta name="referrer" content="no-referrer">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>操作员角色关系管理页面</title>
<script src="../skeleton/includeJs_3rd.js"></script>
<script src="../skeleton/includeCss_3rd.js"></script>
<style type="text/css">
.blankDiv {
	margin-right: 20px;
	display: inline;
}
.tree_li{
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
.a5 {
	color: rgb(255, 255, 255);
	background-color: rgb(51, 122, 183);
	border-color: #fff;
}
.null_tr {
	height: 30.2px;
}
</style>
</head>
<body ng-controller="operRoleController as operRoleCtrl" style="margin-right: 10px;" ng-cloak>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-9">
			<div style="border: 1px solid #ccc; border-radius: 5px;">
				<div class="modal-header">
					<div class="form-inline" align="right">
						<label for="dept">notes登录名：</label> 
						<div class="form-group">
							<input type="text" class="input-text" ng-model="loginName">
						</div>
						<div class="blankDiv"></div>
						<label for="dept">姓名：</label> 
						<div class="form-group">
			  				<input type="text" class="input-text" ng-model="searchName">	
						</div>
						<div class="blankDiv"></div>
		  				<button class="btn btn-primary" type="submit" ng-click="searchOperator()"><i class="Hui-iconfont">&#xe709;</i> 查询</button>
		  				<button class="btn btn-primary" type="button" ng-click="resetSearch()"><i class="Hui-iconfont">&#xe68f;</i> 重置</button>
					</div>
				</div>
				<div style="height:410px; overflow: auto;">
					<table ng-table="operRoleCtrl.tableParams" class="table-condensed table-border table-hover" style="margin-bottom: 10px;">
						<tr ng-repeat="oper in $data track by $index" ng-model="operatorInfos" name="info" ng-class="oper.isNull" ng-if="oper.operatorId == 10000000">
							<td data-title="''">  
							</td>
							<td data-title="'操作员工号'">  
								{{oper.operatorId}}
							</td>
							<td data-title="'notes登录名'" ng-bind="oper.loginName"></td>
							<td data-title="'姓名'">{{oper.operatorName}}</td>
							<td data-title="'状态'" ng-bind="getOperStatusName(oper.operatorStatus)">
							</td>
							<td data-title="'等级'" ng-bind="getOperLevelName(oper.operatorLevel)">
							<td data-title="'机构'" ng-bind="getOperOrgName(oper.orgList)"></td>
							</td>
						</tr>
						<tr ng-repeat="oper in $data track by $index" ng-model="operatorInfos" name="info" ng-click="selectOperator(oper)" ng-class="oper.isNull" ng-if="oper.operatorId != 10000000">
							<td data-title="''">  
								<input type="checkbox" id="{{oper.operatorId}}" ng-checked="isSelected(oper)" ng-if="oper.isNull != 'null_tr'">
							</td>
							<td data-title="'操作员工号'">  
								{{oper.operatorId}}
							</td>
							<td data-title="'notes登录名'" ng-bind="oper.loginName"></td>
							<td data-title="'姓名'">{{oper.operatorName}}</td>
							<td data-title="'状态'" ng-bind="getOperStatusName(oper.operatorStatus)">
							</td>
							<td data-title="'等级'" ng-bind="getOperLevelName(oper.operatorLevel)">
							<td data-title="'机构'" ng-bind="getOperOrgName(oper.orgList)"></td>
							</td>
						</tr>
					</table>
					<div class="f-l">
						<input type="text" class="input-text" id="pageBinding" style="width: 35px; height: 32px; text-align: center; border-radius: 5px;" ng-model="operRoleCtrl.curPage"/>
						<button class="btn btn-primary" ng-click="operRoleCtrl.changePage(operRoleCtrl.curPage)"><i class="icon Hui-iconfont">&#xe6ab;</i>&nbsp;跳转</button>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div style="border: 1px solid #ccc; border-radius: 5px;">
				<div class="modal-header">
					<h4 class="modal-title" align="center">用户角色信息</h4>
				</div>
				<div style="height:385px; overflow-y: auto;">
					<treecontrol class="tree-my"  
						tree-model="roleData"  
		 				options="treeOptions"  
		 				on-selection="showSelected(node)"  
						selected-nodes="nodes">  
						{{node.roleName}} ({{node.roleId}})
					</treecontrol>
				</div>
				<div class="modal-footer">
	        		<button class="btn btn-primary" ng-click="updateOperRole()"><i class="Hui-iconfont">&#xe6a7;</i> 确定</button>
	        		<button class="btn btn-primary" ng-click="cancelSelected()"><i class="Hui-iconfont">&#xe6a6;</i> 取消</button>
	    		</div>
    		</div>
		</div>
	</div>
	<script type="text/javascript" src="../resources/admin/controller/manageOperRole.js"></script>
</body>